[2015-01-28 00:56] pconerly opened #2 "Private repo support?"
Is there private repo support? How does one configure it?

If not, it'd be a great feature to have!

@jdan suggested it on HN a few minutes ago.

[2015-01-28 00:58] waynezhang commented on #2
Tried and private repo works fine.
But don't know how to set up a specify branch.

[2015-01-28 01:26] offby1 opened #3 "Mysterious crashes when starting up"
I have no idea what this means:
[code]

I found that deleting the relevant entries from my config file allowed it to continue.  (There were maybe half a dozen URLs that causes crashes like this).

[2015-01-28 01:27] offby1 opened #4 "All links are 404s"
Here's an example:

[code]

Naturally you won't be able to see the original on github, because it's private.

[2015-01-28 01:32] kellegous commented on #3
@offby1 Man, we really need to fix some of these error messages. It looks like Hound is having trouble cloning the inventory repository. Does the data/inventory directory exist? If it does, can you do the following: `cd data/inventory && git pull`

That should give you some kind of error.

[2015-01-28 03:36] nurey opened #5 "two factor auth for github"
Does this support two factor authentication for github?

[2015-01-28 03:42] cfurrow commented on #5
Does not seem to. Had to generate a personal access token for it via https://github.com/settings/applications

And even after supplying that, the houndd app seems to need my github username/access token ever few minutes to check for changes. Kind of odd.

[2015-01-28 03:48] jklein commented on #4
It looks like you are probably using ssh style URLs in your config file instead of HTTP URLs. Can you paste a copy of your config?

[2015-01-28 06:49] psankar opened #7 "Please make it go get-able"
Please make it go get-able

[2015-01-28 09:22] sjmarshy opened #9 "ability to specify branches"
It'd be great if you could specify a branch to use for searching in the config. It'd be even better if you could do it on the fly in the UI

[2015-01-28 09:25] pierrre commented on #7
[code]
is wrong.

[2015-01-28 11:01] gaborbernat opened #10 "failed to build"
src/hound/index/grep.go:64: function ends without a return statement
src/hound/index/grep.go:137: function ends without a return statement

[2015-01-28 13:48] shoenig commented on #7
Yeah, requiring Rake(!) for a Go project is insane

[2015-01-28 14:22] jklein commented on #10
Can you post the version of Go you are using, and what OS you are trying to build Hound on? Also the command you used to get this error would be helpful as well.

[2015-01-28 14:45] shoenig opened #12 "Provide prebuilt binaries"
Since this project can be built into a single binary, it would be great it could be downloaded without having to have any build environemnt

[2015-01-28 15:08] jklein commented on #12
Done, I cut a release and attached the binary: https://github.com/etsy/Hound/releases/tag/0.1

[2015-01-28 15:08] #12 closed

[2015-01-28 15:23] daenney opened #13 "Configure all the repositories"
It would be really helpful if you could just tell it to search/index all the repositories under a namespace. With some organisations having hundreds of repo's needing to explicitly define every single one of them is needless work.

If it's only for repo's on Github it could be automated through the Github API.

[2015-01-28 15:29] winkler1 commented on #3
Similar error here. Can't nail it down to one repo, there are so many it's hitting. I keep restarting, and it makes progress but croaks quickly on different repos. Have 200+ repos in my config. Worked fine with just a couple repos. Memory? Github anti-DOS throttling?

[code]

[2015-01-28 15:47] jklein commented on #13
Yeah this is pretty GitHub specific, but shouldn't be too hard to add. We would welcome the contribution if you want to take a stab at it :-)

[2015-01-28 15:50] jklein commented on #2
There's currently no out-of-the-box way to handle private repos. There are some workarounds suggested on the [HN thread](https://news.ycombinator.com/item?id=8957240). We would welcome a contribution to make support more official.

[2015-01-28 15:58] statwonk commented on #10
Mine also failed with:

[code]

[2015-01-28 16:04] jklein commented on #10
@statwonk can you paste your config?

[2015-01-28 16:10] daenney commented on #13
Do you have a suggestion how to do this? The wackiest thing I can come up with is a simple cron that just polls the Github API for your organisation and templates out the configuration.

I'm pretty sure we can come up with something better though.

[2015-01-28 16:16] yifu commented on #10
Hi @jklein same issue for me here:

[code]

And here is my 'go' cfg:
[code]

Do you need more information?

[2015-01-28 16:19] yifu commented on #10
@jklein ok got it. I just remove a comma from my json file. It works now.. Sorry for the noise.

[2015-01-28 16:20] jklein commented on #10
Yup makes sense @yifu, and @statwonk I bet you are having the same issue. @gaborbernat your problem sounds like it might be different. Go version, `config.json`, and OS info would be helpful.

[2015-01-28 16:37] kellegous commented on #7
This is definitely on the list. The only blocker as been figuring out what to do with the web assets that Hound needs for the UI. My current plan is to support two modes of building:

(1) When installing with `go get` hound will continue to depend on the src directory that is cloned during the build process.

(2) Make build will aim to build a more stand-alone version where the assets are bundled

[2015-01-28 16:42] adstephenson opened #14 "Indexed files removed by other repos"
When searching I received errors of the form:

`ERROR:open <path to missing file>: no such file or directory`

I think this is due to the [expungeOldIndexes](https://github.com/etsy/Hound/blob/master/src/hound/searcher/searcher.go#L49) function in searcher.go
If, for example, you have two projects: 'my-project' and 'my-project-tests', indexing of 'my-project' removes directories matching 'my-proje

[2015-01-28 16:55] adstephenson commented on #3
I had this error too. In my case it was caused by empty repositories.
When cloning them via command line I got a warning:
`warning: You appear to have cloned an empty repository.`
and when running `git pull`:
`Your configuration specifies to merge with the ref 'master'
from the remote, but no such ref was fetched.`

I have just removed the repos from the config file for now.

[2015-01-28 17:04] pierrre commented on #7
https://github.com/jteeuwen/go-bindata and commit the generated .go files?

[2015-01-28 17:07] gaborbernat commented on #10
go version go1.0.2,
Debian GNU/Linux 7 \n \l :)
default config file

[2015-01-28 17:20] tsibley opened #15 "Document rough memory/disk usage requirements"
Hound is super-simple to get running, which is awesome!  I'm trying to index a number of repos on a host that's got lots of disk, but little memory. (1GB... I know. I want to increase that but can't at the moment for Reasons.)  The indexer runs for a brief period and then hits a panic:

   panic: fork/exec /usr/bin/git: cannot allocate memory

My currently configured repos (100 of em) are just a s

[2015-01-28 17:22] vext01 opened #16 "Hover hint on button next to search hits."
Hey,

What does the button next to each hit do? Can you add some mouseover text so we know.

Looks like a clipboard. Is it "copy to clipboard"? Doesn't seem to work if so.

Thanks

[2015-01-28 17:26] jklein commented on #10
We don't support go versions below 1.3, sorry. If you find an issue with the latest version of Go please open another issue.

[2015-01-28 17:26] #10 closed

[2015-01-28 17:27] jklein commented on #16
It does copy to the clipboard. It requires flash, so perhaps you are blocking that somehow?

[2015-01-28 17:36] vext01 commented on #16
I don't have flash installed.

[2015-01-28 17:36] jklein commented on #15
Yeah this is a good idea. We could probably figure out a rough range based on repo size and put it in the README. Or even put more details in the output.

[2015-01-28 17:38] jklein commented on #14
Interesting, yeah this looks like a legitimate bug. Thanks for reporting it.

[2015-01-28 18:15] croaky opened #18 "Change name?"
Howdy folks,

This project looks cool. Nice idea and execution.

I work at [thoughtbot](http://thoughtbot.com). We've run a product, also called [Hound](https://houndci.com/), for a year or so. It is a hosted Continuous Integration service to check code style on GitHub pull requests. It is also open source.

We've noticed a number of people expressing confusion over the conflicting "Hound" name fo

[2015-01-28 18:29] mydimension commented on #4
Same issue with an internal repo which is only accessible via ssh

[2015-01-28 18:37] jklein commented on #18
@croaky I'll email you, going to close this issue.

[2015-01-28 18:38] #18 closed

[2015-01-28 19:12] jdan commented on #2
@jklein I would be happy with just specifying a local directory, to be honest - any particular reason why I can't do that?

[2015-01-28 19:13] jklein commented on #4
Yeah, currently Hound only supports accessing repos over HTTP. I'm going to close this issue for now, and I'll open one for supporting ssh.

[2015-01-28 19:13] #4 closed

[2015-01-28 19:15] jklein opened #19 "Make links in search results work for SSH style repo URLs"
Currently Hound only supports HTTP style URLs for repos, and it would be nice to support SSH as well.

[2015-01-28 19:18] jklein commented on #2
No particular reason, we just built this for our use case and HTTP works well there. Hound also [polls for updates](src/hound/searcher/searcher.go#L154-L194) over HTTP and git pulls them down, so we would have to find a way to mimic that functionality if using a local directory.

[2015-01-28 19:19] jklein commented on #16
That would be the problem then. I'm going to close this and open an issue for hiding that button if flash isn't present.

[2015-01-28 19:19] #16 closed

[2015-01-28 19:20] jklein opened #20 "Hide copy button if flash isn't installed"
Since it is broken in that case.

[2015-01-28 19:20] jklein commented on #14
Fixed by that commit ^^

[2015-01-28 19:20] #14 closed

[2015-01-28 19:21] mydimension commented on #4
it indexed the repo just fine, and even see it cloned in it's data directory. just seems to be viewing in the web interface that doesn't work

[2015-01-28 19:25] jdan commented on #2
Rad :+1: Thanks for the response

[2015-01-28 19:28] dlanger commented on #5
It supports it in the same way that most applications that need continuous access to a 2FA service do, which is that they need you to create a token. Once you create a [personal access token](https://github.com/settings/applications), you've now effectively got a password that doesn't need 2FA.

Once you've got that set, your problem is that Git keeps asking for your password when it polls the rep

[2015-01-28 19:35] jklein commented on #13
Yeah I'd probably prefer to have the organization in the config file, and just have the code that pulls figure that out and clone/index all repos under it using the GitHub API. Since it's so GitHub specific I would just suggest adding another key in the config file called `organizations` or something that's parallel to `repos`.

[2015-01-28 20:23] vestimir opened #21 "Hound freezes in Safari"
version: 8.0.2 (10600.2.5)

Beachballs in Safari :/ Works like a charm in Chrome.

[2015-01-28 20:31] daenney commented on #13
Right, that makes more sense indeed. Time to try my hand at Go I guess :smile:.

[2015-01-28 20:40] michaelmior opened #22 "Syntax highlighting"
Have you considered adding support for syntax highlighting? This is complicated by the fact that each line is displayed separately. It seems like it would be much simpler to just show all the code inside a `<pre>` tag and then use something like [google-code-prettify](https://code.google.com/p/google-code-prettify/) to add line numbers and syntax highlighting. Then just apply the highlighting on t

[2015-01-28 20:44] kgodwin commented on #19
https://github.com/etsy/Hound/blob/b0f9b34552cf28357b20f9dfeeac9f532a8c8375/src/hound/git/git.go#L52

{
    "dbpath": "data",
    "repos": {
        "repo": {
            "url": "git@gitlab-install:namespace\/repo.git"
        }
}

I'm pretty sure this does work as I've set it up for an internal gitlab install over SSH. It basically will take any uri that Git would I believe.

[2015-01-28 20:51] speg opened #23 "Local repo"
Does this support indexing local repositories?

The example config has a `url` key, but can I use, say `path` and set the value to a folder on my machine?

[2015-01-28 20:55] kgodwin commented on #23
Use a file uri as the url, for example:

file:////home/kgodwin/Projects/dash

[2015-01-28 20:58] speg commented on #23
Aha! Thanks @kgodwin that works.

[2015-01-28 20:58] #23 closed

[2015-01-28 20:59] kgodwin commented on #23
Ya, it is basically a git clone command so just use the same URL/SSH text you'd normally use.

[2015-01-28 21:02] jklein commented on #19
Yeah it clones, but then all of the links from search results are broken I believe.

[2015-01-28 21:03] jklein commented on #21
Hmm, what exactly are you doing when this happens? I tested this on my Macbook Pro with the exact same Safari build that you have and it seems to work. Could it be an extension that is interacting with Hound?

[2015-01-28 21:05] kgodwin commented on #19
Ah, I misunderstood what you were asking about. There was another user with a similar question and I thought you were asking a similar one.

[2015-01-28 21:19] speg commented on #21
This happens to me (also in Safari) when I click the `clippy` icon. Presumably some flash thing that copies something to the clipboard?

[2015-01-28 21:22] speg opened #24 "Config excluded files"
Is it possible to add directories/files to be excluded as a optional config option?

Something like:

[code]

[2015-01-28 21:25] jklein commented on #24
It's certainly possible to add that functionality! It's not something we'll get to soon, but we'd be happy to accept a contribution for it.

[2015-01-28 21:29] vestimir commented on #21
@jklein it freezes just by opening the URL. Only two extensions installed:
- JSON Formatter 1.1
- AdBlock 2.17

[2015-01-29 00:35] comptonqc commented on #9
What would be better still is the ability to search in all branches (perhaps configurable on a per-repo basis if a given repo has many branches).

[2015-01-29 02:12] rbucker opened #25 "not a Rake fan"
I'm not a fan of using Rake as a replacement for a simple make or simple bash. But to illustrate a point similar to the go authors... using go to compile go. Here is a Gist that you are welcome to incorporate into your project.  I will adhere to whatever license you prefer:

https://gist.github.com/rbucker/2f362aeb0ddec24e8b8f

[2015-01-29 05:11] Napolskih commented on #13
I just need this feature.
:+1:

[2015-01-29 09:43] jamime opened #26 "Freeze when entering an invalid regex"
When entering an invalid regex `(` it will freeze the tab.

**Edit:** Including an empty search term.

Version 40.0.2214.93 (64-bit)
OSX 10.9.5

[2015-01-29 10:10] vext01 commented on #16
Thanks!

[2015-01-29 10:11] avadhutp opened #27 "List all repos"
A small info page that could list all the repos configured to be searchable. So that others can have a look and recommend additions.

[2015-01-29 10:16] vext01 opened #28 "Editor integration?"
Hi again,

Do you plan to integrate hound into editors? Currently you have to leave my editor, visit a web page, and when you click a hit, you are taken to a github page. It would be nice if users could harness hound in their editor of choice: vim/emacs/eclipse/whatever.

I am a vim user, so I imagine a use case where I can type `:hound <search_term>`, then a pane would show hits, which I could se

[2015-01-29 10:29] jamime commented on #27
Click on `advanced` and you will see a list of repos that are set up.

[2015-01-29 11:18] adstephenson commented on #14
Thanks for the quick response. Unfortunately I'm getting the same problem.

An example directory structure:
1 - my-project
2 - my-project-[HASH]
3 - my-project-tests
4 - my-project-tests-[HASH]

The regex matches 2 and 4 so they are both removed.
I think updating the regex to include the directory name would fix it. Something like:
[code]
works for my example, but would need to confirm that specia

[2015-01-29 12:40] brucestephens commented on #19
If you want to get something working quickly (i.e., hack the code for your site) the thing to change
seems to be `UrlToRepo` in `pub/assets/js/hound.js`. (I'm assuming you've got something like gitweb, cgit, etc., set up to point at.)

[2015-01-29 12:51] jklein commented on #28
There is already a Sublime Text plugin: https://github.com/bgreenlee/SublimeHound

Feel free to make plugins for other editors as well. We might get to it at some point, but it's not high on the list. If you make one we would be happy to link to it in the README.

[2015-01-29 12:56] KLINGTdotNET opened #33 "Houndd crashes on empty repositories"
One of my github projects is an empty repository at the moment. The `houndd/main.go` crashes every time it tries to scan it:

[code]

Please integrate a check for empty repositories.

[2015-01-29 12:57] jklein commented on #33
Yeah someone else mentioned this as well. This is a bug, thanks for reporting it.

[2015-01-29 12:57] KLINGTdotNET commented on #33
That's what I call a fast reponse :100:

[2015-01-29 12:57] jklein commented on #27
Yup, you can also see all of the repos by clicking on the "Excluded Files" link after a search.

[2015-01-29 12:57] #27 closed

[2015-01-29 13:02] jklein commented on #26
Hmm, I'm trying to reproduce but I get the expected error message saying that the regex couldn't be parsed. I'm using Chrome Version 40.0.2214.93 (64-bit) as well, on OS X 10.10.2. Perhaps you have a Chrome extension that is interacting with Hound? Try it in a private browsing window and see if it works.

If you are still having issues, can you provide a little more info? Do you have anything chec

[2015-01-29 14:18] sriniprash commented on #7
https://github.com/mjibson/esc interfaces with net/http

[2015-01-29 14:55] avadhutp opened #34 "Houndd errors after rebuilding index"
I ran hound using
```go run src/hound/cmds/houndd/main.go```

Works fine for a while. Then, I see this in my console—
[code]

And after that, searching for anything gives messages like these—
[code]

[2015-01-29 15:09] jnunemaker commented on #21
Happens to me by just visiting hound in the browser the first time.

![screen shot 2015-01-29 at 10 09 20 am](https://cloud.githubusercontent.com/assets/235/5959780/e7222c20-a79e-11e4-85c4-5c28ce836f28.png)

The only plugin I have installed is 1password.

[2015-01-29 15:10] jnunemaker commented on #21
It does not happen in chrome. I just checked.

[2015-01-29 15:31] kgodwin commented on #19
Given Hound already clones things into data/[repo-name] and it operates as a webapp, wouldn't it just make more sense to just self-host the not http:// repos so it just displays the local copy the search index is built on? [e.g. file:///, ssh]

[2015-01-29 15:45] jamime commented on #26
Just ran it in a private browser.

2015/01/29 15:34:51 Searcher started for **removed**
2015/01/29 15:34:52 Searcher started for **removed**
2015/01/29 15:34:58 merge 0 files + mem
2015/01/29 15:34:58 18771141 data bytes, 3299207 index bytes
2015/01/29 15:34:58 All indexes built, running server at http://localhost:6080...

* Put cursor in input
* Press enter

Tab will lock
`$ top` shows that Googl

[2015-01-29 16:01] Napolskih commented on #34
:+1:

[2015-01-29 16:16] brucestephens commented on #19
Just having Hound serve source seems like a good option (and likely would be a useful default when
the URL doesn't look like a github one). More generally it's surely useful to be able to link to
some other service (one that has syntax highlighting, version control or cross referencing).

[2015-01-29 16:35] kgodwin commented on #19
Maybe the path forward then is:

If [contains github.com] -> Link as per current
if [UrlToRepo: contains alternative-link-scheme] -> Link as per listed link scheme
else -> Self-serve [with syntax highlighting and links to the rest of the project]

?

[2015-01-29 17:30] brucestephens commented on #19
I guess so. Maybe there are some other special cases (like github) that are worth doing (gitlab, for example), but maybe not. What you suggest is probably a good compromise: DTRT most of the time, and simple to understand how to change it.

[2015-01-29 18:56] technovangelist commented on #2
It seems to work just fine. I added a few private repos using the git@github.com:myorg/myrepo.git url and thats it.

[2015-01-29 20:10] wildthink opened #37 "REST API"
Would be great to support a RESTful API to support native front ends.

[2015-01-29 21:54] kgodwin commented on #19
http://[website-url]/[repo-name]/blob/master/[filename]#L[line-number]

Maybe the UrlToRepo should just support tokens then?

[2015-01-29 22:31] jklein commented on #37
That's what the Go service provides...it can be used as a standalone API for alternate clients, e.g. the [Sublime Text plugin](https://github.com/bgreenlee/SublimeHound). What more are you looking for?

[2015-01-29 22:32] jklein commented on #34
@avadhutp do you happen to have a repo called just "questionnaire"? We fixed a bug related to that recently.

[2015-01-29 22:37] jklein commented on #28
I'm actually going to close this, since I think editor extensions/plugins should live in their own repo and will likely be created/supported by other people.

[2015-01-29 22:37] #28 closed

[2015-01-29 22:47] brucestephens commented on #19
Dunno. Might be best to do something simple: so just cover cases 1 and 2 and forget about the
more annoying case?

And just leave a pointer to the relevant bit of javascript in the README, so people who want to can
easily find and hack it. (Or maybe this issue is sufficient, come to that.)

What I'd like is to have a collection of our local repositories, and they'll all map in the same way. So
act

[2015-01-30 02:27] caglar10ur commented on #7
In the meantime what about providing a Makefile like following? Rake is giving hard time to the distros with older ruby versions (undefined method `absolute_path' for File:Class)

[code]

[2015-01-30 02:35] tsibley commented on #15
At least on the small sample of 100 repos I tried, the disk usage seems to be about a 1:2 ratio between `data/<repo>-<sha>/raw` and `data/<repo>-<sha>/tri`.

[2015-01-30 10:23] avadhutp commented on #34
@jklein :
1. We do.
1. Also, we had a bunch of repos that would face problems due to the scenario described by @adstephenson in #14
1. Pulled the latest version and it seems to have fixed all of it.

[2015-01-30 10:23] #34 closed

[2015-01-30 13:25] KLINGTdotNET commented on #33
#36 seems to work, no more crashes on empty repos!
:+1:

[2015-01-30 13:25] #33 closed

[2015-01-30 15:36] olimart opened #41 "Question: Can this be deployed to heroku easily?"
Any recommendations on how to deploy somewhere.

[2015-01-30 15:47] jklein commented on #41
It's pretty easy to get this deployed on any VPS with the quick start guide, and then just set up a DNS record to point to the server. It would be pretty sweet to get a [Deploy to Heroku](https://devcenter.heroku.com/articles/heroku-button) button working though. This wouldn't be a ton of work, and we'd be happy to accept a contribution for it.

[2015-01-30 17:12] offby1 commented on #3
@kellegous it's sho' 'nuff empty; behold:
[code]

[2015-01-30 17:14] offby1 commented on #4
@jklein You are correct; the URLs are for ssh.  Ideally, the docs would say "please don't do that", and even more importantly: I'd get a clear error message (either when starting the server, or when clicking one of those links) saying "sorry, SSH URLs aren't supported".

[2015-01-30 17:16] jklein commented on #4
Yeah we should just fix this though. Check out #19 for discussion.

[2015-01-30 17:17] jklein commented on #3
Cool, @offby1 my PR #36 should fix this. Hopefully we'll merge today.

[2015-01-30 17:18] offby1 commented on #3
I just noticed a similar-but-perhaps-different problem with a different repo (tl;dr: I think I force-pushed, and that made Hound's head asplode):
[code]

[2015-01-30 17:21] jklein commented on #3
Yup, if Hound can't `git pull` or `git clone` cleanly it's going to puke. Once my PR from #36 is merged Hound will continue with the rest of the indexes and just skip the repo that died, which should be an improvement.

[2015-01-30 17:22] jklein commented on #26
Yeah that could be it @jamime, can you try running the binary with the --prod flag? So just `./bin/houndd --prod`. That will compile the JS and take the JSX transformer piece out of the picture.

[2015-01-30 17:24] offby1 commented on #3
I've got to ask -- why are you `git pull`ing in the first place?  Wouldn't it make more sense to `get fetch; git reset --hard @{upstream}`?

[2015-01-30 17:35] jklein commented on #21
I still can't seem to get this to happen. I think it might be flash related. Can you delete the ReactZeroClipboard.js include from index.tpl.html and try again?

[2015-01-30 19:02] jklein commented on #3
Well in the typical case there are never going to be changes in these repos, so `git pull` works well enough. If there _are_ changes I feel like it might be better to communicate that and skip the repo instead of just blowing them away.

[2015-01-30 19:37] offby1 commented on #3
I guess the communication would want to get the following across, without perhaps being so verbose:

Yikes! I couldn't "pull" into this repo.  Either you've done some work in there (which you shouldn't do; this repo is essentially just a cache for Hound), or else somebody force-pushed to the upstream.  You can fix this repo by first saving any work you've done in it (perhaps by pushing it upstream

[2015-01-30 20:41] jamime commented on #26
@jklein `./bin/houndd --prod` did not fix. I can reproduce on my MacBook too. An empty search term will instantly crash both Chrome and Safari.

* OSX 10.10.1
* go version go1.4.1 darwin/amd64
* react-tools@0.12.2 /usr/local/lib/node_modules/react-tools
* jstransform@8.2.0 (base62@0.1.1, esprima-fb@8001.1001.0-dev-harmony-fb, source-map@0.1.31)
*  commoner@0.10.1 (private@0.1.6, commander@2.5.1, g

[2015-01-30 22:09] jklein commented on #26
Okay, more things to try - can you just change your config.json to only have one repo, maybe jQuery or something? I want to see if it's related in some way to that. Here's a config.json you could use:

[code]

[2015-01-30 22:39] vestimir commented on #21
@jklein when I remove `ReactZeroClipboard.js` it doesn't freeze, but also it doesn't search at all - it just keeps the loading gif forever. I'll try to find the actual problem during the weekend.

[2015-01-30 22:42] gerco opened #43 "Work with local repos (no clone)"
Enhancement suggestion:
I would like Hound to work with repos that are already on my server, without cloning them first. This is for an in-house repo hosting server, for example.

[2015-01-30 22:45] jklein commented on #21
Yeah that's partly my bad, you probably have to pull the ZeroClipboard stuff out of the JS file as well. You are likely getting JS errors now. That helps narrow it down though, I'm guessing it's related to the flash stuff that the clipboard does.

[2015-01-30 23:18] jamime commented on #26
2015/01/30 23:02:26 Searcher started for jQuery
2015/01/30 23:06:16 merge 0 files + mem
2015/01/30 23:06:16 1524338 data bytes, 777610 index bytes
2015/01/30 23:06:16 All indexes built, running server at http://localhost:6080...

An empty search term gives me:

I thought I would try accessing the API directly and it responds successfully for my private repo.

[2015-01-30 23:22] jamime commented on #26
Interestingly after reducing the size of the jQuery repo (deleting files from `Hound/data/jQuery` and removing the cache directory) and rebooting the server. The empty search term again crashes the tab.

[2015-01-31 02:46] kellegous commented on #7
I put up a PR to switch to a Makefile until this is all go-gettable https://github.com/etsy/Hound/pull/44

[2015-01-31 02:51] kellegous opened #45 "Safari 8.0.2 Runs Empty Query on page load"
Just going to the hound base url gives the error "ERROR:search exceeds limit on matches: 5000" because Safari seems to send the query to the server in this case.

[2015-01-31 02:52] kellegous commented on #45
Maybe this is related to #1

[2015-01-31 04:26] #45 closed

[2015-01-31 07:30] halbtuerke commented on #43
:+1:

[2015-01-31 08:01] vestimir commented on #21
@jklein yup I can confirm, that by removing this functionality it works like a charm. I also tried updating it to 2.2.0, but the result was the same. I guess it's freezing like this because of Safari's click to start strategy on flash elements.

[2015-01-31 20:50] kellegous commented on #21
I vote we just get rid of flash and use a technique similar to what https://goo.gl/ uses. It just inlines an input with the text selected and says Ctrl-C/Cmd-C to copy.

[2015-01-31 20:53] jklein commented on #25
Now there is a makefile, and `go get` support is coming soon - going to close this.

[2015-01-31 20:53] #25 closed

[2015-01-31 20:56] jklein commented on #43
This should already work - either using the file:// protocol as the URL in `config.json`, or if you want Hound to manage the repos and keep them updated you can just change the dbpath in `config.json` to point to the parent folder of your existing repos. As long as the repo names in the config match the folders on disk, Hound should work without issue.

If you are trying this and having problems,

[2015-01-31 20:56] #43 closed

[2015-01-31 20:57] jklein commented on #3
The fix for empty repos has been merged, and future errors should be much less mysterious since we are passing through the git messages. I'm going to close this issue for now, and feel free to open new ones if you keep having issues.

[2015-01-31 20:57] #3 closed

[2015-01-31 20:58] jklein commented on #21
@kellegous :+1:. The flash approach is causing a bunch of issues it seems, and I'd love to remove the flash dependency.

[2015-01-31 21:01] jklein commented on #26
Most of the crashes we have seen are related to the flash file for the "copy" functionality. Can you remove that from index.tpl.html and also pull out the ZeroClipboard stuff from `pub/assets/js/hound.js` and see if that stops the crashes?

[2015-01-31 21:02] jklein commented on #37
Going to close this since I think we have everything you need. Feel free to re-open if there is missing functionality that you want.

[2015-01-31 21:02] #37 closed

[2015-02-01 06:17] belak commented on #7
Do the maintainers have any preferences for this? Something like go-bindata and a Makefile to turn the assets into go files might be the best option.

[2015-02-01 17:28] jamime commented on #26
Removed `<script src="assets/js/ReactZeroClipboard.js"></script>` from `index.tpl.html` and
[code]

[2015-02-01 18:55] vestimir commented on #21
@jklein how about making the file path a disabled input (+ a little bit of css/hover to make it nice) which upon click selects all the text for easy C+P. I can prepare a PR about this.

[2015-02-02 01:42] caglar10ur commented on #7
I suggest taking a look at https://github.com/golang/tools/blob/master/godoc/static/makestatic.go as well. This is what godoc.org uses.

[2015-02-02 07:37] matrixik commented on #7
Or use https://github.com/GeertJohan/go.rice and it will work with `go get` without need for commiting generated files.

[2015-02-02 14:22] caglar10ur commented on #7
@matrixik but with go.rice, one cannot distribute a binary only file as it requires source code to be available.

To me, godoc is way simpler but of course YMMV.

* Put your resources into https://github.com/golang/tools/blob/master/godoc/static/makestatic.go,
* Create a file like
https://github.com/golang/tools/blob/master/godoc/static/gen.go so that one can use "go generate"
* Use https://godoc.

[2015-02-02 14:50] jklein commented on #21
Yeah that would be great @vestimir, thanks

[2015-02-02 15:07] matrixik commented on #7
@caglar10ur go.rice allow you to do both things at once:

https://github.com/GeertJohan/go.rice#what-does-it-do
https://github.com/GeertJohan/go.rice#tool-usage

[2015-02-02 16:49] cliren opened #54 "Backend pointing to the existing local repositories instead of a git clone"
Two questions:

1. Can the config.json be pointed to local path instead of a git location? For example if I deploy Hound on a stash repo box (which has the all source code) and point the config so that Hound's data/ directory symlinks to the stash repo. The config would looks something like below:

config.json

{
    "dbpath" : "data",
    "repo-type": "local",
    "repos" : {
        "SomeRepo" :

[2015-02-02 17:01] jklein commented on #54
1. You can index local folders using the file:// protocol
2. If you are using a git URL the Hound server will poll for updates and reindex when a new version is detected.

[2015-02-02 17:01] #54 closed

[2015-02-02 17:06] jklein commented on #20
Going to close this since we are planning on moving to a solution that doesn't involve flash at all.

[2015-02-02 17:06] #20 closed

[2015-02-02 17:14] cliren commented on #54
Good to know, thanks!

[2015-02-02 17:16] jklein commented on #2
I updated the README with the explanation of how you can use private repositories:

https://github.com/etsy/Hound#private-repositories

Since the issue with links in the SSH style URL case is documented in #19, I'm going to close this.

[2015-02-02 17:16] #2 closed

[2015-02-02 19:29] bmoyles commented on #13
I might suggest making repo discovery more generic, possibly pluggable (maybe something similar to how Packer does plugins) for orgs that are using something like Github for Enterprises, Stash, Bitbucket, etc.

[2015-02-02 22:09] jdan commented on #2
Thanks @jklein :)

[2015-02-03 00:37] offby1 commented on #3
Great work -- the error message is very clear now.  Thanks!

[2015-02-03 13:36] MoriTanosuke opened #57 "Support simple query language"
It would be nice if Hound supports a simple query language like *"firstTerm !secondTerm"* (search files including "firstTerm", but not "secondTerm"). Narrowing down a search with the regex file path works fine, but sometimes I want to search for specific filenames and match files that I have not yet modified (for example, adding a plugin to several POMs).

Having a simple query like the one above

[2015-02-03 15:43] liuguojun opened #58 "how to search code in local disk?"
any config example?

[2015-02-04 02:00] afriza opened #59 "cannot clone local mercurial (hg) repository"
2015/02/03 14:30:04 Searcher started for ABC-Project
    2015/02/03 14:30:04 Failed to clone file://abc/project, see output below
    Cloning into 'ABC-Project'...
    fatal: '/abc/project' does not appear to be a git repository
    fatal: Could not read from remote repository.

    Please make sure you have the correct access rights
    and the repository exists.
    Continuing...
    2015/02/03

[2015-02-04 05:56] belak commented on #59
The config file defaults to git for the VCS, so for a mercurial repo you have to specify "vcs": "hg"

[2015-02-04 06:02] sriniprash commented on #58
I guess the config file should look something like:

{
    "dbpath" : "data",
    "repos" : {
        "My_local_repo" : {
            "url" : "file://location/to/your/repo"
        }
    }
}

[2015-02-04 06:08] sriniprash opened #60 "UI for adding/removing the repositories in runtime"
* An UI to add/remove repos when the server is running.
* Ability to select local folder for indexing.
* A status page showing the status of the indexing.

[2015-02-04 07:20] MoriTanosuke commented on #19
When testing SVN support I noticed that in https://github.com/etsy/Hound/blob/master/pub/assets/js/hound.js#L292 there is a hardcoded reference to add *'/blob/master/'* to the URL. This does not work for SVN (I think it will only for for *git* repos :question:) and supporting multiple VCS via PR #39 breaks the link to the source files.

[2015-02-04 12:42] captn3m0 opened #61 "Set indexer frequency"
Setting up Hound locally now, but its unclear from the README when does the indexer actually run after the first indexing. It should be configurable, I think.

[2015-02-04 13:40] jklein commented on #59
What @belak said, closing this.

[2015-02-04 13:40] #59 closed

[2015-02-04 13:41] jklein commented on #58
Yes that's right. I'll add an example to config-example.json as well.

[2015-02-04 13:41] #58 closed

[2015-02-04 13:47] jklein commented on #61
It polls every 30 seconds by default, but this is configurable by the `ms-between-poll` directive in the config. I will document this and add it to `config-example.json`

[2015-02-04 13:47] #61 closed

[2015-02-04 16:51] jklein commented on #19
Thanks @MoriTanosuke, we should fix that. Can you open an issue, or fix it as part of your SVN PR?

[2015-02-04 16:52] jklein commented on #60
We'd love to add a status page at the very least. Not sure about the other two items though.

[2015-02-04 16:55] jklein commented on #57
I feel like regular expression searches satisfy the vast majority of potential use cases, so I'm not a huge fan of this b/c of the extra complexity, but let's see what @kellegous thinks.

[2015-02-05 01:46] afriza commented on #59
Hello, thanks, it works.. but maybe should be mentioned in the readme?

[2015-02-05 02:21] jklein commented on #59
Yeah I'll add it, good call.

[2015-02-05 02:45] kellegous commented on #15
I'll have to think more about a good way to quantify the memory/disk requirements. The most memory intensive part of Hound is indexing. This is the only time when the index structure is resident in the program's heap. The index consists of the posting list for each trigram and the list of file paths. The index itself is usually a lot smaller than the original repository ... like 5x-10x smaller. On

[2015-02-05 02:54] kellegous commented on #57
I thought a bit about whether we needed support for boolean expressions outside of regexp, but I never found a real use case. @MoriTanosuke, can you describe your use case further.

[2015-02-05 03:47] tsibley commented on #15
Yes, all of the repos can be cloned by git.  It isn't git itself running out of memory, but that the exec() syscall Hound makes fails because the system says there's not enough memory left (i.e. because Hound was claiming it).

[2015-02-05 03:54] tsibley commented on #15
The exec() failure happens at different points, but if I keep houndd in a retry loop and bump up the repo update delay (to avoid unnecessary contention), the initial indexing eventually succeeds and houndd continues to run fine with limited memory.  I assume the panic arises when the initial clone/pull/index for each repo stack up enough at the same time that the in-heap indexes max out all availa

[2015-02-05 13:43] MoriTanosuke commented on #15
I'm getting the same error when checking out about 75 SVN repositories:

    2015/02/05 14:40:24 vcs pull error (REPONAME - https://REPOURL/trunk): fork /exec /usr/bin/svn: cannot allocate memory

The machine I'm using has 2GB RAM, where about 300MB are still available and has 50% available harddive space.

@tsibley Can you describe how to modify the repo update delay?

[2015-02-05 13:47] MoriTanosuke commented on #15
To answer my own question, adding `'MsBetweenPolls': 180000` to each repo configuration sets the poll intervall to 180s.

[2015-02-05 16:18] tsibley commented on #15
@MoriTanosuke I think the key is `ms-between-poll`, not `MsBetweenPolls`.  See https://github.com/etsy/Hound/blob/master/config-example.json#L9.

[2015-02-06 18:25] jklein commented on #26
I'm at a bit of a loss here, I can't reproduce and we haven't heard of this issue from anyone else (aside from flash related issues). Is there a crash dump or crash report? I think we're going to need a little more legwork on your side to figure this out, since it appears to be something specific to your environment.

[2015-02-06 18:32] jklein commented on #21
I just deleted all of the ReactZeroClipboard stuff and thus the flash dependency. This issue should be fixed, and if we want to add the ctrl+c prompt later that would be fairly easy to do. For now it's simple enough to click and drag to highlight and then hit ctrl+c.

[2015-02-06 18:32] #21 closed

[2015-02-08 15:49] jamime commented on #26
I'll try and get some more diagnostic information and full steps to reproduce from a fresh install. Same problem on two separate machines.

[2015-02-10 13:37] jklein commented on #26
Thanks @jamime - also make sure you pull in all new changes since I completely removed the dependency on flash, which was causing some crashes.

[2015-02-10 20:12] redbrain17 opened #66 "make failed on src/hound/index/grep.go"
After clone your repo  and configure the config file I run make and it stops with that error on Ubuntu 12.04

make
GOPATH=`pwd` go build -o bin/houndd src/hound/cmds/houndd/main.go
hound/index
src/hound/index/grep.go:64: function ends without a return statement
src/hound/index/grep.go:137: function ends without a return statement
make: *** [bin/houndd] Fehler 2

[2015-02-10 20:46] jklein commented on #66
Can you tell us what version of Go you are using? The output of `go version` would be ideal.

[2015-02-10 21:32] redbrain17 commented on #66
I' am using

$ go version
go version go1

is that suffiant to run Hound?

On Tue, Feb 10, 2015 at 9:46 PM, Jonathan Klein <notifications@github.com>
wrote:

[2015-02-10 21:35] jklein commented on #66
No, we only support Go 1.3+, and if it just says go1 I assume that's 1.0. Try upgrading and if you still experience an issue you can reopen this issue.

[2015-02-10 21:35] #66 closed

[2015-02-11 19:40] rhyolight commented on #41
Huge :+1: from me. I have attempted to get Hound running on Heroku with little success because of the golang dependency. And following [this guide to deploying golang apps on Heroku](https://mmcgrana.github.io/2012/09/getting-started-with-go-on-heroku.html) did not work for me because `godep` didn't work properly.

[2015-02-11 19:57] belak commented on #41
Once #7 is completed, it should be fairly trivial to deploy to heroku.

[2015-02-11 20:50] rhyolight commented on #7
:+1: because I want to deploy to Heroku and I can't. :frowning:

[2015-02-12 12:42] rokcarl opened #67 "Doesn't load in Firefox 35 on a Mac"
I can load [http://localhost:6080/](http://localhost:6080/) in Safari, but not in Firefox 35.0.1 on a Mac saying the connection has timed out. Could be my system at fault here...

[2015-02-12 14:01] jamime commented on #26
@jklein started fresh once again and it works perfectly. I'll reproduce on my other machine and let you know if I find anything. Thank you!

[2015-02-12 14:01] #26 closed

[2015-02-12 14:06] jklein commented on #67
Just tried in Firefox 35.0.1 on my Macbook pro and it works for me. Try in a private window to make sure no extensions are interfering, make sure there's nothing weird in your hosts file, and give it a shot in other  browsers to see if it's really a Firefox specific issue. I'm going to close this, but feel free to reopen if you have concrete steps to reproduce.

[2015-02-12 14:06] #67 closed

[2015-02-12 15:07] mattdurham opened #68 "Internet Explorer 11 is not supported"
When loading Hound in internet explorer 11 nothing appears.

[2015-02-12 15:15] #68 closed

[2015-02-13 18:16] garethbowles opened #70 "Don't exit if a corrupt index is found"
I'm setting up Hound to run against about 3000 Stash repos (PR coming to handle the different file link format) and noticed that a small number of repos weren't indexed properly the first time.  As soon as Hound finds a bad index, it immediately shuts down.

Deleting the source code and index for each repo and letting Hound re-clone and reindex seemed to work every time.

I'd prefer not to have Ho

[2015-02-13 22:06] belak opened #71 "Make code.google.org/p/codereply sync up with published version"
This is related to #7 in that when I removed the copy of code.google.org/p/codesearch, everything broke as the version that's public doesn't have `*Index.Close()`

Should this library be forked or something like that so we can make the project go-gettable?

[2015-02-13 23:10] kellegous commented on #71
Thanks for looking into this. My plan was to move that out of code.google.com and into hound proper. I'll find a way to ask the golang folks if they have any interest in our changes. I'm assuming they don't. We definitely don't want to run Hound with the current codesearch code as it'll leak tons of address space. BTW, I'm totally under the gun for a few more days and then I hope to get a break to

[2015-02-14 02:47] kellegous commented on #70
My opinion on what hound should do:

 1. When a corrupted index is detected, hound should start from scratch on the reindex and try to recover gracefully, though slowly.
 2. Waiting on all this stuff at startup really kind of sucks, but was just a stop-gap to make sure the server came up in a decent state (i.e. all searchers had a searchable index). The next logical step is to bring the server up

[2015-02-14 12:05] MoriTanosuke commented on #57
After using Hound a couple of days I think the provided features are enough for my usecase. Initially I though searching for files that have the searchterms *"my-dependency AND NOT an-incompatible-dependency"* would be nice, but I never really searched for it.

I'm now using Hound more like an easy-to-use searchengine so that I don't have to keep all the projects open in my IDE. If I don't find wh

[2015-02-14 12:11] jklein commented on #57
Thanks @MoriTanosuke, we appreciate you being thoughtful about this!

[2015-02-14 12:11] #57 closed

[2015-02-14 13:46] tzmartin opened #73 "Google App Engine is unsupported"
I'd like to use this on Google App Engine, but GAE doesn't support the `unsafe` or `syscall` packages ([source](http://blog.golang.org/go-and-google-app-engine)).  Otherwise, it appears this will work and would open Hound up for developers on Google App Engine.

This could also be an alternative for issue #41.

Is it possible to refactor?

[2015-02-14 15:15] kellegous commented on #73
I think we are a very long way from working on AppEngine. We would basically need a completely new indexing strategy. Probably the only real way to make it work would be to write a completely new backend that stores the posting lists in the datastore and leans very heavily on memcache to try to keep the retrieval time down. Building the indexes regularly is also going to stink in terms of cost sin

[2015-02-14 20:35] tzmartin commented on #73
Got it.  Perhaps using containers (and possibly [managed VMs](https://cloud.google.com/appengine/docs/managed-vms/) with App Engine) would be a better fit.

[2015-02-16 09:55] paulwellnerbou opened #75 "Support for Stash (and other) URLs"
Is there a way to configure the format/pattern of the URL where the results are linked to? It works fine with gitlab and github, but with stash, another format is expected:

    https://mystash.tld/projects/PROJECT/repos/REPO/browse/common/src/main/...

[2015-02-16 13:32] jklein commented on #71
@kellegous it looks like your commit fixed this?

[2015-02-17 06:21] platan commented on #75
:+1:

[2015-02-17 13:17] garethbowles commented on #70
Good point on communicating that a repo is offline.  I think it's OK to not bring the server up until the initial index is done for all repos, but if there is an indexing error Hound should definitely communicate somehow that results from the affected repo aren't available.  This would be a big improvement on OpenGrok (which we're hoping to replace with Hound at Netflix), where indexing errors are

[2015-02-19 09:56] sveisvei commented on #75
:+1:

[2015-02-20 09:26] platan commented on #75
I've prepered scrip for creating Hound config file based on Stash reposiories: https://gist.github.com/platan/8723c837c5322172c983

[2015-02-24 06:53] paulwellnerbou commented on #75
@platan Great, I used a dirty shell script for this. The new url pattern property is not part of this script yet, right? So the urls in the search results won't work.

[2015-02-24 07:55] platan commented on #75
@paulwellnerbou I've modified Hound in my fork to support only Stash repositories, so URLs works for me :-) After merging url pattern property feature into master I'm going to update my script.

[2015-02-24 15:16] mattdurham opened #78 "Issue with UTF16 files"
We have a mixture of UTF8 and UTF16 files. Hound seems to search them correctly, as in it will say 16 files searched, but only show 4. When I go and manually switch save as UTF8 and check in then the files will show in the UI.

[2015-03-03 03:49] jklein commented on #78
Interesting, thanks for the report. I haven't had a chance to reproduce yet, but it seems like this should be easy to confirm and potentially easy to fix.

[2015-03-03 14:05] jklein commented on #19
@kellegous it seems like with your change we can update the README/example config and this issue will be able to be fully handled by the new functionality.

[2015-03-03 14:26] kellegous commented on #78
I think we can just sniff for a BOM in the first two bytes and re-encode the file to utf-8 on the fly. It will add some overhead to the indexing for repos with utf-16 but that's unavoidable anyway because Go's strings are utf-8 internally.

[2015-03-04 10:47] platan commented on #75
New version of the script (https://gist.github.com/platan/8723c837c5322172c983) for creating Hound config file based on public Stash reposiories supports URL pattern. Example output:
[code]

[2015-03-04 17:47] rothgar opened #83 "Allow recursive directories to be indexed with file://"
If I have a folder containing all my repos (local or on shared network space using gitlab or similar) the entire directory contains sub directories of different git repos. If I want to index all of the repos, including newly added repos, I would hope to be able to use the following config to index all of the repos at once.

[code]
This would hopefully help with managing dozens or hundreds of repos

[2015-03-04 17:49] jklein commented on #83
Is your intent to have Hound automatically discover the git repos and keep them up to date with polling as usual?

[2015-03-04 17:57] rothgar commented on #83
That would be ideal. Auto discovery would be important although I read polling with file:// already has issues.

An alternative would be better gitlab support to auto discover/poll all repos for a team, org, etc. I'm looking to index 700+ repos which would obviously be cumbersome to input manually. I saw some of the generation scripts but those would require crons and service restarts if a new rep

[2015-03-06 14:55] sstarcher opened #84 "Bitbucket file urls"
When click on a file that has been pulled from bitbucket it uses the URL that works for github which is slightly different than bitbucket's.

"blob/master" for github
"src/master" is needed for bitbucket

[2015-03-06 15:26] jklein commented on #84
The new `url-pattern` directive allows you to fix this issue. See the example in [config-example.json](config-example.json)

[2015-03-06 15:26] #84 closed

[2015-03-06 15:28] jklein commented on #19
We now have a `url-pattern` directive that should solve this issue completely. Feel free to open a new one if you continue to have problems. You can see an example of how this works in [config-example.json](https://github.com/etsy/Hound/blob/master/config-example.json#L18-L24).

[2015-03-06 15:28] #19 closed

[2015-03-10 19:12] belak commented on #71
What's the status of this?

[2015-03-10 23:24] kellegous commented on #71
Our fork of code.google.com/p/codesearch has been moved into hound/codesearch.

[2015-03-10 23:24] #71 closed

[2015-03-11 17:51] hoorayimhelping opened #91 "The advanced filter show handler doesn't seem to respond to keyboard tab events"
Tabbing allows you to type into the File Path without seeing what you're typing because the filter doesn't show when the File Path input field gets focus from tab.

[2015-03-14 21:42] #7 closed

[2015-03-15 03:12] #91 closed

[2015-03-16 13:56] kellegous opened #96 "The numbered lists are messed up in the README."
I tried to stick commands between them, that didn't work.

[2015-03-16 14:22] #96 closed

[2015-03-16 15:00] kellegous commented on #96
Thanks.

[2015-03-16 20:25] pastjean commented on #13
:+1: for @bmoyles idea
even directory file globs for local files

[2015-03-18 14:26] iainsmith opened #97 "Tag Support"
We're searching 100+ repositories and would like to be able to tag repos. Then we can restrict searches to repos with a given tag. Here's what I imagine the config could look like. Happy to give this a go, but would appreciate some input on where to get started.

[code]

[2015-03-19 01:28] iainsmith commented on #97
Started work on this in [my fork](https://github.com/etsy/Hound/compare/master...iainsmith:feature/tags?expand=1). I'm not too sure of the best way to continue, (I'm very new to Go) and would appreciate suggestions.

[2015-03-23 11:23] tnguyen14 opened #98 "src: no such file or directory"
I am completely new to go so I am not sure what I'm doing wrong, but I got this error trying to build the docker image. Could anyone help?
[code]

[2015-03-23 14:45] kellegous commented on #98
The Dockerfile needs to be updated after a few recent commits. I'll take a look at this soon.

[2015-03-25 13:22] #98 closed

[2015-03-25 14:28] tnguyen14 opened #100 "Install with go"
I tried following the instruction by doing the following:

[code]

However, I got this error `bash: houndd: command not found`. I am not familiar with go at all, so I am not sure what I am doing wrong. Could someone point me in the right direction?

[2015-03-25 14:38] kellegous commented on #100
When you do `go get`, go installs the binaries in `$GOPATH/bin`. The best guide on this is the [Workspaces section of How to Write Go Code](https://golang.org/doc/code.html#Workspaces). If you just want to run Hound, you can do the following:
[code]

BTW, which instructions are you following? I would love to update them.

[2015-03-25 15:16] tnguyen14 commented on #100
Thanks! I just followed your guide above and that worked fine. I didn't understand and I could install houndd as a system package and call it anywhere with the $GOPATH defined. I didn't have my $GOPATH defined.
Your instruction is an interesting way to install and run it in a local directory as well, which is nice and contained.

I was following the guide on the README, but I didn't understand it

[2015-04-01 08:55] pfrandsen opened #102 "Grouping of repositories (feature request)"
It would be nice to be able to group indexed repositories via labels (or a fixed hierarchy in the config file). These labels could then be used to include/exclude a set of repositories in specific searches (when you have say 100 repositories selecting repositories for specific searches can be quite tedious). E.g., you could search the repositories belonging to a specific business unit, search all

[2015-04-01 10:47] akullpp opened #103 "Error when installing with Go"
I get errors when trying to use Go to install. The `bin` folder is missing, the others are there.

[code]

[2015-04-01 11:10] akullpp commented on #103
Probably Go < 1.3

[2015-04-01 11:10] #103 closed

[2015-04-01 14:19] jklein commented on #102
This is a duplicate of #97 - it's a good idea though.

[2015-04-01 14:19] #102 closed

[2015-04-01 14:20] #100 closed

[2015-04-01 14:36] pfrandsen commented on #102
Sorry, didn't see #97 - obviously the same problem ;-)

[2015-04-01 15:01] pfrandsen commented on #97
We have the same problem (more  than 100 repositories) so I suggested #102 before noticing this enhancement request. I would suggest using "labels" instead of "tags" as tags have special meaning in repositories.

[2015-04-07 17:32] youknowjack opened #105 "houndd: don't start polling until all indexes are built"
I was trying to bootstrap hound with 100s of projects, and the polling running simultaneous with index creation meant the server wouldn't start for hours. I have a patch that doesn't start polling until right before the http server is started, after all the searchers are created. That dramatically improves startup time when working with many projects.

[2015-04-14 23:26] #105 closed

[2015-04-16 01:22] jnackman opened #111 "Allow pushing updates instead of polling"
For a large number of repos, it would be nice to be able to turn off polling and hit an API endpoint to update the indexes instead.  This would reduce unnecessary traffic and keep results more recent.

I have an implementation of this that I can submit a PR for if this seems reasonable.

[2015-04-16 12:23] Pomyk opened #112 "correct utf-8 files tagged as "not a text""
Function isTextFile reads up to 2kb of a file and it can truncate a multibyte utf-8 character and then decide that the file is not utf.

[2015-04-17 06:36] ibam opened #113 "Error: too many open files after indexing large number of repos"
We tried using Hound on our company's codebase, but there seem to be an upper limit to the number of repos or the size of codebase that Hound can handle. In our case, we are indexing ~250 repos containing a combined total of millions of LOCs, and Hound (or the underlying Go) emitted the following error when we tried to execute a search:

The total size of the data folder is about 5.5 GB when compr

[2015-04-17 12:24] kellegous commented on #113
With that many repos, you have have to tweak your file descriptor limits. I'm really curious what your current limit is?

From the same login you run Hound, what do these commands report?
`ulimit -Sn`
`ulimit -Hn`

The searchers are currently setup to be pretty aggressive in terms of parallelism ... we can probably put a practical limit on that to avoid opening so many files simultaneously when wo

[2015-04-18 03:50] bzz commented on #83
+1  for automatic discovery of all repositories from local FS recursively!

It might be a CLI argument like ```houndd --discover file://path/to/dir``` which actually generates the default ```config.json``` in the existing format with a listing of all repos found.

Same approach might work later for the discovery of all repositories for the particular github org like ```houndd --discover https://gi

[2015-04-19 18:35] kellegous commented on #113
I setup a test this weekend with 1k repositories and what I'm finding is that I can execute searches just fine without exhausting the file descriptors limit (1024) so long as no indexing is happening. When the searchers are trying to update simultaneously (especially if they are running git), I hit issues. The right answer here, I think, is to actually throttle indexing to ensure that no more than

[2015-04-24 18:53] mmerrell opened #115 "Need upper limit on number of concurrent open connections"
Our Stash host is complaining about having several hundred concurrent connections open at once (during the poll phase). We need to be able to limit the number of external connections open at once.

We have a patch, and will make a pull request soon. It will be a configurable upper-limit to the number of PullOrClone methods that can be in play at the same time (and it seems to work...)

[2015-04-27 11:13] Lafriks commented on #111
This would be great feature

[2015-04-27 13:12] kellegous commented on #111
Thanks to @jnackman, this is a supported feature now on HEAD.

[2015-04-27 13:12] #111 closed

[2015-04-28 11:51] jklein commented on #75
This is now supported with the [url-pattern directive](https://github.com/etsy/Hound/blob/master/config-example.json#L37-L43) that has been merged into core.

[2015-04-28 11:51] #75 closed

[2015-04-28 11:52] jklein commented on #83
This is similar to #13 - it would be good to come up with a solution that solves both cases.

[2015-04-28 11:59] #115 closed

[2015-04-28 11:59] #113 closed

[2015-04-29 02:08] emonty opened #119 "Notice changes to config.json or provide a way to trigger a re-read"
This falls into a bucket similar to #13 and #83 I think  - which is "zomg I have lots of repos". In my case, I already have all of my repos referenced in a YAML file - so making a script to read that and write a config.json took about 5 minutes. However, we're always adding new ones - so I don't want to have to restart houndd to pick up new config.json changes if I don't have to.

I'd be happy to

[2015-04-30 14:52] chaseconey commented on #119
:+1: Yes please.

[2015-04-30 19:29] mmerrell commented on #119
We've been trying to fit this into our schedule, but haven't made much progress. If you could implement it, that would be pretty awesome...

[2015-05-01 21:13] dstroot opened #120 "Umm... *Where* do you put the `config.json` file?"
I'm slow sometimes...  readme is not helpful.

[2015-05-02 01:13] jklein commented on #120
If you cloned the repo it should just go in the root of the repo. If you are using `go get`, the config file should just be at the root of your GOPATH. I updated the README to say that.

[2015-05-02 01:13] #120 closed

[2015-05-02 03:54] dstroot commented on #120
Thanks I just did the `go get` option. Appreciate the help.

[2015-05-05 10:31] platan commented on #119
:+1:

[2015-05-08 14:16] cburroughs commented on #22
cgit allows results to be passed through arbitrary filter (ie pygyments).  This is generally flexible and works well, but does lead to some of the partial  vs full file situations.

[2015-05-08 21:31] cburroughs opened #121 "Document query time resuts"
`50,477ms total /937ms server /559 files`

That the 'server' was fast but I had to wait a while for results isn't intuitive.   Maybe the answer in a tooltip?

[2015-05-10 16:50] kellegous commented on #121
That they differ so widely is not intuitive to me. Can you tell me more about this search? Are there lots of matches? I'm not sure adding tooltips to the timer would help a great deal. It was more of a debugging tool that just kind of stuck around because it was fun to see some of the optimizations at work. If it leads to confusion, it should probably just be removed.

[2015-05-21 13:36] adipan opened #123 "Hound installation problem on Windows 7 box."
Hound installation problem on Windows 7 box. I understand that Hound team knows of this and does not officially support Windows.

I installed go for the first time in my life. Set GOPATH properly. I followed the quick start guide and typed -
go get github.com/etsy/hound/cmd/...

It throws following lines in my command line and also does not install binaries - houndd and hound in my GOPATH that are

[2015-05-21 21:31] jawshooah opened #124 "Direct links to Bitbucket source files are broken for SSH URLs"
I have an SSH-style URL for a private Bitbucket repository. Let's say it's

[code]

The direct links generated by Hound take the form

[code]

This leads to a "404: Oops, you've found a dead link" page. The correct form is

[code]

[2015-05-21 21:41] jklein commented on #124
Is the commit hash required? If not, the url-pattern option should help:

https://github.com/etsy/Hound/blob/master/config-example.json#L38-L44

[2015-05-21 22:38] jawshooah commented on #124
Ah, somehow missed that. Works with the following config:

[code]

Thanks!

[2015-05-21 22:38] #124 closed

[2015-05-22 15:16] jklein commented on #123
There are a couple of PRs for windows support, #122 and #56 - not sure what the status is of those but I think at this point without those merged Hound isn't going to work on Windows. @kellegous have you looked at those PRs recently?

[2015-05-23 01:18] ameerkat commented on #123
@adipan I'm not sure about the binary installation or what the command go install is supposed to do, I ended up calling into houndd from the root directory where I placed the config.json. You could probably get it working some other way. In any case I got it working on windows 8.1 with the changes in #122  which is coming from here https://github.com/ameerkat/Hound if you want to try it for yourse

[2015-06-04 20:11] emonty commented on #119
(this is still on my TDL - haven't quite gotten to it yet ...)

[2015-06-05 04:25] sstarcher commented on #119
+1

[2015-06-05 04:26] sstarcher commented on #13
+1

[2015-06-09 08:35] suchangming opened #126 "How to include credential in GitRepo config"
Seems config-examples.jason only provides session for SVN with creds.

How to modify for Git? Thanks.

"SomeGitRepo" : {
            "url" : "http://server/scm/project/repo.git",
            "vcs-config" : {
                "username" : "username_for_ro_account",
                "password" : "password_for_ro_account"
            }
        }

[2015-06-09 15:24] jklein commented on #126
What are you trying to do? If you want to index a private Git repo you can follow the instructions here:

https://github.com/etsy/Hound#private-repositories

[2015-06-10 14:43] jklein commented on #126
I'm going to close this, let us know if you still have an issue here.

[2015-06-10 14:43] #126 closed

[2015-06-10 17:57] gwindes commented on #119
+1

[2015-06-10 18:17] emonty commented on #119
Because I'm being slow, we've found a human in the OpenStack community to work on this although it still may be a few weeks. @necrobuffalo wave to all the nice people

[2015-06-12 01:10] kellegous commented on #123
Hound should be building on Windows now.

[2015-06-12 01:10] #123 closed

[2015-06-12 01:12] kellegous opened #130 "Excluded files page needs to UI work."
The design is a bit awkard and its kind of tacked onto the side.

[2015-06-12 01:13] kellegous opened #131 "Hound command line client."
There is currently a barely functional command line tool that I haven't had time to finish.
https://github.com/etsy/Hound/blob/master/cmds/hound/main.go

[2015-06-19 09:50] KindDragon opened #134 "Support indexing local directories (without supported VCS)"
I want use Hound as https://github.com/google/codesearch/ for my local directory with code (it subdirectory of my TFS repository)

[2015-06-21 12:33] jklein commented on #134
We should probably just detect if the `file://`protocol is being used and bypass the VCS code entirely, just indexing the repo.

[2015-06-26 05:57] aidansteele commented on #22
An alternative (that may be ridiculous) is to use the Ace code editor in read-only mode: http://ace.c9.io/. As it sits entirely client-side it would require zero changes to the API and wouldn't have the complications that @cburroughs mentioned.

[2015-06-26 22:49] belak commented on #22
There's also http://prismjs.com/

[2015-06-28 02:05] aidansteele commented on #134
@jklein I opened up a PR that hopefully addresses this issue: #138.

[2015-06-29 00:26] aidansteele opened #139 "Fails to index hundreds of repos"
I am reticent to post this issue because it may somehow be related to the work I did in PR #138, but I can't quite see how and thought it may indeed need your eyes.

I am attempting to get hound to index 2,850 repos (~30GB) and after several hundred it bombs out like this:

[code]

From that point, the remaining ~2000 repos all fail in the same manner. My assumption is that perhaps files are not b

[2015-07-20 13:07] aj-jester commented on #70
Would love to see this. Been experiencing this same issue but with a lot less repos, < 100.

[2015-07-21 02:08] zzztimbo opened #145 "Links to source code don't work for bitbucket repos"
I added a private bitbucket repo and none of the links out work.
I've tried this with a public github repo and that works just fine.

[2015-07-22 01:16] jklein commented on #145
Have you tried the url-pattern config as specified in the example?

https://github.com/etsy/hound/blob/master/config-example.json#L38-L44

[2015-07-22 12:32] jamime commented on #134
Same issue here. I want to index my already checked out SVN repo.

[2015-08-03 02:24] gwindes opened #147 "goroutine # [select] waitForUpdate error/crash"
Have an instance with 200+ repos and it runs through the repo config and then spits out these errors at the end:

[code]

Any ideas on how to fix this?

[2015-08-03 03:13] kellegous commented on #147
Is this the entire output of the crash? All this shows is a couple of goroutines waiting on a channel at the time of the crash.

[2015-08-03 05:07] gwindes commented on #147
I found the answer. I was using port 80 and we have an iptable rule to reroute 6080 (Default hound port) to 80 so that's the error I was facing.

Marked as closed.

[2015-08-03 05:07] #147 closed

[2015-08-04 01:29] gwindes commented on #145
Seems like the new bitbucket line numbering link is breaking.

Ex: http://bitbucket.org/reponame/src/rev/.hgignore#.hgignore-56

however using something like:
[code]
generates this url : http://bitbucket.org/reponame/src/rev/.hgignore#{path}-56
instead of having the file path it outputs #{path} is there a way to escape the # so it doesn't affect the {path}. Is this just using regex to replace or s

[2015-08-11 07:55] danielcb opened #149 "Add overview UI for searches with a lot of hits"
We have a lot of repositories and most of the time the current UI is perfect. Sometimes though we have searches with a lot of hits (500+ files) and an overview would be nice.

E.g.:
* Repo1
  * File1
  * File2
* Repo2
  * ...

or just:
* Repo1: 10 files
* Repo2: 50 files

maybe as an expandable list..

[2015-08-17 15:31] miketheman opened #150 "Support linking to a GitHub wiki page"
Since GitHub wikis are repositories as well, it felt only natural to try using hound to index them for search as well.

config example:
[code]

Indexing, searching all works nicely, however the generated link leads to a 404 page, like so:

https://github.com/DataDog/dd-agent.wiki/blob/master/Home.md#L7

I'd propose that: "if the repo is a github-based repo, and there's a `.wiki` in the repo name,

[2015-09-01 12:54] tgt opened #151 "Hound's UI has poor accessibility"
I find the UI of Hound to be extremely difficult to read since its text is very low contrast. I've noted several of the issues I've encountered below. These issues won't just affect the visually impaired, but also those with lower quality screens.

The guidelines laid out in the [Web Content Accessibility Guidelines (WCAG) 2.0](http://www.w3.org/TR/WCAG20/) suggest a contrast ratio of 4.5:1 for AA

[2015-09-01 14:47] andydmei commented on #60
Have ability to add/remove/repos via either UI or command line without need to restart Hound would be very useful.  Currently we have process to detect any newly added/removed repos in GitLab and we have to restart Hound.

[2015-09-01 14:51] andydmei commented on #119
+1, any update to this?

[2015-09-01 20:02] missaugustina commented on #119
I'm currently working on this patch :smile:

[2015-09-02 14:53] andydmei commented on #119
:+1:

[2015-09-04 09:28] jklein commented on #151
Thanks, this is a good idea. We'd be happy to accept a PR for these changes. Candidly it's not something we are likely to get to in the near term.

[2015-09-04 09:37] jklein commented on #145
In the anchor you should be using `#{filename}`. See [config-example.json](https://github.com/etsy/hound/blob/master/config-example.json#L45-L51). The code to handle this logic is in [common.js](https://github.com/etsy/hound/blob/master/ui/assets/js/common.js).

[2015-09-04 09:38] jklein commented on #145
I'm going to close this for now since it seems likely to be a config issue. Feel free to re-open if you have a reproducible case where this isn't working.

[2015-09-04 09:38] #145 closed

[2015-09-04 09:40] jklein commented on #139
That's a lot of repos. Yeah it's probably related to how we deal with file handles. We never expected this to be used for so many repos. I'm sure this is fixable, it will just require some time debugging. It's a pretty narrow use case, so I'm going to mark it as an enhancement.

[2015-09-04 09:54] aidansteele commented on #139
Thanks for the response! Yes, I agree that it's very much an edge case and understand why it would be _looowww_ down the list of priorities. :)

[2015-09-09 18:31] akullpp commented on #9
+1

[2015-09-10 08:00] 0xmohit opened #153 "Case sensitivity should be considered while highlighting search results"
The `Ignore Case` setting is off by default.  However, while rendering the search results the flags `ig` are passed to the `RegExp` constructor which lead to text being highlighted in a case-insensitive manner if the line contains a legitimate match as well.  As an example, index <https://github.com/0xmohit/trash> and search for `the` (note that ignore case if _off_).

![2015-09-10-131855_1067x268

[2015-09-22 18:46] #22 closed

[2015-09-27 19:42] missaugustina commented on #119
I currently have something working but I want to add test coverage and sanity check it. I'm using the fsnotify package to watch for changes to the configuration file. Right now I've also just got the configuration watcher and new searcher logic in the main houndd file. I have a fork I'm working on if anyone wants to take a look and make suggestions. It's very WIP right now but I should have someth

[2015-09-30 01:03] #153 closed

[2015-10-07 20:47] fzakaria opened #160 "Add the ability to filter whitelist/blacklist file types"
If I have a repository with a lot of binaries, I wouldn't want the indexer to index those.
Conversely, I might want to target specifically only a specific file type (i.e. *.java)

[2015-10-09 09:38] sturmf opened #161 "Index a local directory which is not a repository"
It seems hound can currently not index a local directory which is not also a repository.
E.g. if I specify a path like file:///C:/mysource then it tries to clone that directory and fails.

 Cloning into 'vcs-ecb0a3caf996197545e5b8429dcbe107b1427d32'...
 fatal: 'C:/mysource/' does not appear to be a git repository

[2015-10-09 09:45] sturmf commented on #161
To add to my question, I guess it would make sense to implement an rsync vcs implementation?

[2015-10-09 10:15] #161 closed

[2015-10-09 10:16] sturmf commented on #161
Hmm Github is strange, I wanted to close this issue since I just now found the duplicate Issue #134

[2015-10-12 06:58] pradeepmurugesan opened #162 "Hound Git Configuration"
Hi,

 I am running docker on windows host. I am facing an issue in cloning a private repo.
1. Using Https.

   This is my local codebase(local version of gitlab) and the cert is ofcourse not verified. So I have added

[code]

   and tried to clone the repo manually as a docker user and root in the VM that docker created. It works fine. Tried from windows host as well it works fine.

   But when I

[2015-10-12 19:18] sturmf opened #163 "Can't build hound on Ubuntu 15.04 due to missing jsx"
I can't build on Ubutu 15.04 due to missing jsx. I installed it with "npm install jsx" but now I get the following output:

sturm@yoga:~/src/hound/src/github.com/etsy/hound$ make
rsync -r --exclude '*.js' ui/assets/* .build/ui
jsx --no-cache-dir ui/assets/js .build/ui/js
Makefile:8: recipe for target 'ui/bindata.go' failed
make: *** [ui/bindata.go] Error 1

Any ideas?

[2015-10-12 19:46] sturmf commented on #163
One reason seems to be $(shell pwd) not supported by the standard shell in Ubunut. But changing it to `pwd`only gets me a tiny step further. The step still fails with the same output.

[2015-10-12 20:29] kellegous commented on #163
One of the issues is that you installed https://www.npmjs.com/package/jsx instead of https://www.npmjs.com/package/react-tools. Don't run `npm install jsx`, you want react-tools, `npm install react-tools`. It's confusing, I know. Someone had the name jsx before react was created, sadly.

[2015-10-12 21:29] missaugustina commented on #60
This looks similar to Issue #119 which I am working on a patch for.

[2015-10-13 07:05] sturmf commented on #163
Thanks for the clarification. Unfortunately jsx from react-tools also doesn't work.

[2015-10-13 10:10] jklein commented on #163
FWIW, react-tools is now deprecated in favor of Babel:

https://facebook.github.io/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html

We should probably upgrade React and remove this dependency. If you want to
go down that path and see if it fixes your problem it would be much
appreciated.

On Tuesday, October 13, 2015, sturmf <notifications@github.com> wrote:

[2015-10-13 11:40] kellegous commented on #163
Sorry, @sturmf, there isn't enough information in your last comment to know what's going wrong. Perhaps this will help, I am including the Vagrantfile where I confirmed that the build works properly:

[code]

[2015-10-13 18:18] sturmf commented on #163
A thanks for the instructions, that solved the mystery. I installe "apt-get install node" not knowing that it is something completely different. After removing node I got: /usr/bin/env: node: File or directory not found. And that is solved with your ln -s line.
Maybe that should be added as a hint to the docs.

[2015-10-13 18:18] #163 closed

[2015-10-16 15:03] egonSchiele opened #164 "Allow the user to filter on path names through the UI"
Allow the user to make a list of pathnames to filter on (simple substring match, not regex). The results get filtered using through this.

This functionality could also be used for #24 and #160.

[2015-10-25 12:26] Muffo commented on #9
That would be very useful!

[2015-10-27 12:12] xi-ao commented on #24
I'd love that too.

[2015-10-27 16:31] kellegous opened #168 "Add a way to request hound to do a graceful shutdown."
Killing a running hound instance is currently dangerous. If the process is terminated in the middle of an index, it can result in a corrupt index or a corrupt VCS directory. Since hound does not yet auto-recover from corruption, this can make automated restarts (like for upgrades) trickier.

Initial thought on this one is a signal handler that steals all the tokens from the index limiter before sh

[2015-10-27 16:32] kellegous opened #169 "Add sane logging."
Sadly, I got busy after Hound's OS release and never added proper logging which would allow a log file to be written to /var/log. That needs to get added.

[2015-11-06 13:22] rudineirk opened #171 "Hardcoded urls paths"
I was trying to use hound under `/hound/` uri on my git server, but I coudn't do it because of the urls in javascript.

All javascript urls are hardcoded like `/api/v1/search`. This makes usage under a different url path almost impossible.

If possible, it would be good to have relative urls or configurable url namespaces on build.

[2015-11-06 14:37] sstarcher commented on #13
#158 does some of this

[2015-11-09 19:39] diemonster commented on #119
@missaugustina just looking at this right now, but having difficulty in getting in working locally. Any updates or a PR in the works?

[2015-11-18 11:04] rmccue opened #172 "Treating a single "repo" as multiple"
Hi there!

I'm attempting to set up Hound to search the code from every WordPress plugin, which is approximately 48.5k separate repositories. I'm using #156 to avoid needing to have actual repositories for these, and instead using [a home grown tool](https://github.com/markjaquith/WordPress-Plugin-Directory-Slurper); this avoids needing the overhead of svn/git history. I'm then using an external P

[2015-11-19 14:27] jklein commented on #172
This is a pretty interesting edge case. You are correct that Hound builds a different index for each repository, even if "repository" is a local directory. This is probably difficult to make work with ~50K repos.

Off the top of my head it seems like a decent approach would be to put everything in one index, but somehow add some metadata to each subdirectory to help Hound figure out how to build t

[2015-11-20 04:24] rmccue commented on #172
That was my thinking too; worst case, if we can't change Hound in a way that makes sense, I may just need to build a redirection service to handle it on the other side. I'd prefer to avoid that though. :wink:

[2015-11-24 07:30] teemus commented on #9
+1 - Would be super useful :+1:

[2015-11-30 04:09] tpcwang opened #176 "Client browser hangs if the search query is ".*""
This isn't really an important issue as it isn't a query that has a valid use case, but I wouldn't have expected it to hang on all the browsers that I have tried (Chrome, FF, Edge). The bug is probably in the rendering/frontend layer as using the api works just fine (i.e. this returns results: http://codesearch/api/v1/search?stats=fosho&repos=*&rng=%3A20&q=.*&i=nope&files=)

[2015-12-14 18:57] inorton opened #178 "feature request: non-vcs support"
I'd like hound to be able to simply operate on a folder full of files that aren't in any VCS (we have things that generate alot of code and it's handy to browse the generated results)

[2015-12-14 18:58] inorton opened #179 "feature request: perforce support"
We use perforce where I work, I've had mixed success trying to use it via git-p4. Could hound be extended to support p4?

[2015-12-14 18:59] inorton commented on #178
I found https://github.com/etsy/hound/issues/161

[2015-12-14 18:59] #178 closed

[2015-12-28 14:35] deer-hope opened #180 "make error"
nanzhi-MBP:hound nanzhi$ make
mkdir -p build/ui
rsync -r --exclude '*.js' src/github.com/etsy/hound/ui/assets/* build/ui
jsx --no-cache-dir src/github.com/etsy/hound/ui/assets/js build/ui/js
unknown option: --no-cache-dir
make: *** [src/github.com/etsy/hound/ui/bindata.go] Error 1

[2015-12-29 14:23] kellegous commented on #180
Thanks. I really need to update the tools associated with react.

[2015-12-29 14:28] kellegous commented on #180
@deer-hope What version of react-tools are you using?
[code]

[2016-01-01 19:30] kellegous commented on #180
Actually, I suspect you installed JSX and not react-tools `npm install react-tools` (not `npm install jsx`)

[2016-01-01 19:30] #180 closed

[2016-01-06 06:48] AvnerCohen opened #182 ""Repos Summary" - Feature search for quick navigation"
Thanks for Hound ! Awesome work.

We have an issue, and before digging into the code to see if we can improve, was wondering if maybe I'm just missing something.

We have many repositories (> 100) indexed using hound. Sometimes you have to search for a term that exists in multiple places and returns way too many results.

In this instances, it would really be good if I could get the results groupe

[2016-01-08 00:50] kellegous commented on #182
Totally agree. I have been wanting to add a section to the UI that allows you to easily navigate amount the repos included in the result set.

[2016-01-12 11:55] Wilfred opened #183 "Don't stop indexing when users force-push to master"
Currently, hound stops updating the checkout, just showing the error:

[code]

Rather than doing a `git pull`, it would be better to do a `git fetch && git reset origin/master`.

[2016-01-12 16:48] Wilfred opened #184 "Cannot click to close the advanced search options"
Clicking 'Advanced' opens the advanced options in the web UI. However, clicking the chevron does not close the web UI.

I can work around by focusing on the main search input, which closes the advanced options.

Tested on both Firefox and Chrome.

[2016-01-12 18:34] kellegous commented on #184
I'm unable to reproduce this. There is a known issue that the whole Advanced dialog shows the pointer cursor making it really hard to tell when your mouse is over the up chevron. Could this be what is affecting you?

The steps I've tried to reproduce this:
 1. Load hound UI.
 2. Click on "Advanced: Ignore case, filter by path, stuff like that." (advanced dialog slides down)
 3. Immediately click o

[2016-01-13 11:36] Wilfred commented on #184
Oh, you're absolutely right. If I click the chevron exactly, the advanced dialog closes.

As you said, I was confused because of the point cursor on the whole dialog. Is there a duplicate bug that I can close this against?

[2016-01-17 09:26] pfrandsen opened #185 "User defined global defaults for poll frequence and vcs"
Currently you can define poll frequency and vcs type on a per repository basis or use the default that are hard coded into the source code.

I would like to be able to specify global defaults in the config.json file.

Pull request https://github.com/etsy/hound/pull/181 implements a solution for this.

[2016-01-18 16:40] miketheman commented on #162
Looking at the code for GitDriver's Clone operation: https://github.com/etsy/hound/blob/593f126367332cf9a8a959ec7979119c70a68479/vcs/git.go#L59-L74

I can conclude that hound is bascially shelling out to execute a git command.

You've confirmed that when setting `git config http.sslVerify false` on your host, everything works locally, so the question I would ask is "how does one set `git config ht

[2016-01-22 15:38] Wilfred opened #186 "Add a 'use string literally' search option"
Sometimes I want to search for some code that contains regexp metacharacters, e.g. I want to search `foo.baz[bar]()`. It would be nice to have an option in the UI to do this -- I find it takes some thought to work out it's `foo\.baz\[bar\]\(\)`.

[2016-01-22 16:24] dgryski commented on #186
Probably straight forward to add a "quotemeta" option  and pass the query to https://golang.org/pkg/regexp/#QuoteMeta if present.

[2016-01-28 11:42] intiocean commented on #182
+1

[2016-01-29 06:41] mavant commented on #9
Being able to search in multiple branches would be fantastic - this is the primary feature missing from Hound that prevents me from switching over from OpenGrok.

[2016-01-29 16:57] Wilfred opened #188 "Don't require hound to be hosted at /"
It would be useful if we could serve hound at e.g. `/hound`, but both the .go files and the .js files assume that hound is being served from `/`.

[2016-02-01 19:25] tadamo commented on #188
:thumbsup:

[2016-02-05 12:35] #184 closed

[2016-02-09 15:52] mpcabd opened #191 "Incorrect URL when file path contains a plus sign"
When a file path contains a plus sign (who does that? anyway) the link doesn't have the correct URL so it doesn't work.

File path in git: `path/to/file+with+plus+signs.txt`

Invalid (current) link: `https://path.to.git.web.com/git/?p=repository.git;a=blob;f=path/to/file+with+plus+signs.txt;hb=HEAD`

Correct link should be: `https://path.to.git.web.com/git/?p=repository.git;a=blob;f=path/to/file%2

[2016-02-15 14:45] nus commented on #119
+1

[2016-02-22 07:20] pfrandsen commented on #182
+1 for this. We just started using Hound at work (awesome tool) and are indexing around 600 repos. It would be really nice to have a list of matching repos (result overview) with links to the matches for a given repo.

[2016-02-22 08:05] AvnerCohen commented on #182
@kellegous you looking for someone to take a stab at this? any pointers to the specific implementation you maybe had in mind, but not the time?

[2016-02-23 17:56] alokwatve opened #192 "Only one file instead of the whole repository"
When I start houndd, it displays:

2016/02/23 11:42:24 Searcher started for SubversionWithCreds
2016/02/23 11:42:24 All indexes built!
2016/02/23 11:42:24 running server at http://localhost:6080...

Note that hound index build succeeds almost immediately. The repo is fairly big (tools like doxygen take > 1hr to run). So I am not sure if hound is lying or simply ignoring most of the files. On inspe

[2016-02-23 22:54] meeech opened #193 "url-pattern: {url} - url:port is converted to url/port"
When git url contains a port
eg: ssh://git@stash.example.com:7999/foo/bar.git

the url is converted to http://stash.example.com/7999

[2016-02-24 17:31] cheethoe commented on #139
I'm also running into this issue, increasing open file limits of course works around it but my hound process sits around holding thousands of files open.

[2016-02-24 18:26] cheethoe commented on #119
Anymore updates?  Right now it takes me 10 minutes to restart hound and have it serving requests again.

[2016-03-12 06:22] egonSchiele commented on #191
@mpcabd this seems to work for me. I made this file: https://github.com/egonSchiele/hound/blob/master/ui/test+file+with+plusses.markdown

I see it in the UI: http://i.imgur.com/AauvmEX.png

And the link is: https://www.github.com/egonSchiele/hound/blob/master/ui/test+file+with+plusses.markdown

I think your browser should convert those plusses to %2B's automatically.

[2016-03-17 11:31] AlexFielder opened #199 ""path x does not appear to be a git repository""
Hi All,

I have a bunch of .vb files in a folder that I am trying to have Hound index, but it fails with the above error- the folder isn't a git repository to the tool is behaving as expected, but I wondered if there is anything I can do to have it treat these files "normally" - obviously short of making the folder a git repository...

Thanks,

Alex.

[2016-03-29 21:40] coxley opened #201 "Add a "tree" view"
Hound is super simple to deploy, but hundreds of repos to search through it gets quite hard to parse. I suggest having a view to "minimize" the repo names where matches were found and let the user expand them?

[2016-04-13 00:56] dcampbell24 commented on #201
If I understand you, that sounds like a super helpful feature to have. The results would start off as just the book icons with the repo name next to it (maybe add some stats like how many matches were in the repo) and then clicking on the book icon would cause results to be expanded. The icon could be clicked on further times to toggle back and forth and would probably display a different looking

[2016-04-14 06:10] coxley commented on #201
That about sums up my thoughts. :)

[2016-04-20 15:13] rkachowski commented on #134
This would be great - I have a huge mercurial repo with the largefiles extension already checked out that i'd like to be able to index directly

[2016-04-21 22:41] bbaltz505 opened #203 "No records returned when submitting search via HTTP GET"
If I submit a search via the Hound web UI and specify multiple repos, the query returns the correct matches. If I submit the query using the search URL, the multiple repos are not parsed correctly. See below:
Successful search via UI form:
Query string is:

When submitting the same search via a direct URL:
http://<server>:6080/?q=dev&i=nope&files=&repos=rsa_example,sse_intrinsic_helper_classes

Th

[2016-04-21 23:38] kellegous commented on #176
I bet you have a lot of repos, right? There is a guard against returning too many results but it is per repository.

[2016-04-21 23:39] kellegous commented on #203
Thanks, there have been a couple of things broken around the repo list for a while. I didn't realize the URLs were broken, though.

[2016-04-21 23:41] #168 closed

[2016-04-22 03:14] tpcwang commented on #176
I don't have original Hound setup any more, but I only had a handful of repos, although their size isn't that small.

[2016-04-22 23:52] #203 closed

[2016-04-25 07:54] danielcb commented on #201
#149

[2016-05-05 09:07] alecsx opened #205 "As of GitLab 8.6, cloning repos throws a http 500 error"
I've tracked the issue down to the "git clone" command which uses an extra "--depth 1" argument. I think shallow clones are not allowed any longer. I've fixed this in my local environment by removing the depth option. I presume this will decrease the performance, however I haven't notice any major issues so far.

[2016-05-05 18:46] bbaltz505 opened #206 "Does Hound support multiple keywords?"
Sorry, but I didn't see this mentioned anywhere. The default search seems to be single words or literal phrases. Is there a way to enter keywords so they for a compound search? I.e.,
"Dog Cat" gives files that contain "Dog" AND "Cat"

[2016-05-05 18:54] dgryski commented on #206
Hound searches by regular expression.  Think of it as a super-powered "git-grep" that can cross multiple repositories very very quickly.

[2016-05-05 19:12] bbaltz505 commented on #206
Thanks.Yes, I love the speed and ability to span repos. I'm not clear on how to do more complex searches via the UI though. Whatever I enter in the keyword field seems to be interpreted literally as one ling string.

[2016-05-05 19:51] dgryski commented on #206
Yes; hound will search for lines matching the regular expression in the input box.  It's not a general purpose keyword search engine.  For that, you would want ElasticSearch or some other full-text search engine.

[2016-05-05 20:04] bbaltz505 commented on #206
Thanks.

[2016-05-05 20:04] #206 closed

[2016-05-10 09:36] avar opened #207 "Add ability to turn of "git clone --depth=1", it's sometimes quite expensive"
This was changed in 2e9ceb9 by @kellegous. See [this comment to a CocoaPods issue](https://github.com/CocoaPods/CocoaPods/issues/4989#issuecomment-193772935) for why using shallow clones for things like this is a bad idea.

IMO this commit should just be reverted, it makes much more sense to do a full clone and then fetch that with the way the fetch protocol works and how shallow clones can trigge

[2016-05-10 09:40] avar opened #208 "Add ability to index an externally maintained repository"
Related to issue #207. Right now you can specify a "git" repository and it'll clone/fetch and update the index if the HEAD changes.

I already have a system to deploy and keep Git repositories updated, and would prefer not to deal with another one, so if the clone/fetch calls were no-opped via some config option then hound would poll whether "HEAD" changed and trigger re-indexes as appropriate.

R

[2016-05-11 22:00] miketheman commented on #150
Closed via #155

[2016-05-11 22:00] #150 closed

[2016-05-13 12:48] avar opened #209 "Hound doesn't consider "?q=foo+bar" equivalent to "?q=foo%20bar""
I'm fairly sure [this isn't standards compliant](http://stackoverflow.com/questions/22850844/html-form-is-converting-spaces-to-instead-of-20-when-building-url). In any case having an external web form that submits data to hound and searching for e.g. "foo bar" will result in "?q=foo+bar", which hound treats as a literal "+".

Instead it should treat "+" and "%20" as equivalent, and searching for a

[2016-05-25 01:30] drammons opened #211 "Authentication and Entitlements"
It would be really nice to be able to restrict access to the search by way of users with entitlements.

[2016-06-04 14:03] mikepurvis opened #212 "Add option for alternative link (docs, for example)"
Hound seems like it would be a great fit for my organization, but one feature which would be great to have would be the ability to link not just back to github/bitbucket/etc, but to generated docs or other resources derived from the source, for example when Hound would link to this location:

https://github.com/ros/ros_comm/blob/kinetic-devel/clients/roscpp/include/ros/publisher.h

It could also p

[2016-06-07 03:20] mikepurvis commented on #201
I'm interested in this feature too; we also have 100+ repositories at our org.

Has anyone done an implementation?

[2016-06-09 17:00] muraiki commented on #205
I'm not experiencing any problems cloning using GitLab 8.8.3, so maybe this has been resolved in GitLab.

[2016-06-10 03:24] mikepurvis opened #214 "Option to generate the search index separately"
If I have a Jenkins instance, I might want to use that to periodically generate the search index, especially if I already have all the source sitting there, and can save doing a ton of git pulls. Allowing the index to be generated asynchronously also means less downtime— you just pop to the new index when it's ready, rather than having to grind through all the repos every time on startup.

[2016-06-10 10:29] alamok opened #215 "Size of file path an issue."
Great tool guys .. I am trying to index a file whose path from root is long
abc/xyz/pqr/....../file.java ( total characters 196 ).

While indexing I get an error,
`error: unable to create file <filepath> (Filename too long)`

Is this known to you .. any work around for this ?

[2016-06-10 10:43] alamok commented on #215
was a git specific issue under windows,
fixed with

`git config --system core.longpaths true`

all working fine now.

[2016-06-10 10:43] #215 closed

[2016-06-15 09:16] electrofelix commented on #186
Use case: Cutting and pasting part or all of a line of code to search for it seems like a common operation, and since code frequently will contain characters that are special in regex terms, currently I find I need to edit the line after pasting instead of just cut/paste/search. The number of times I need to do a regex search for code has been relatively low, but an additional click or key press o

[2016-06-19 16:34] kellegous commented on #214
Hound already does asynchronous indexing internally. If you give hound a file:// url on the jenkins server and then do push updates (https://github.com/etsy/hound/blob/master/config-example.json#L58). Triggering a push update isn't very well documented currently. You just need to POST to `/api/v1/update` with the list of repos that need to be updated. The downside of this approach is you'll still

[2016-06-20 13:15] talarari opened #216 "i wrote a hound search plugin for hain"
check out this project:https://github.com/appetizermonster/hain
it's kind of like a spotlight search with tons of plugins.
i wrote a hound plugin to allow us to quickly search for code
https://github.com/talarari/hain-plugin-hound

you're welcome to install it from hain's package manager to check it out.
looks kind of like this:
.
![untitled](https://cloud.githubusercontent.com/assets/4973087/1619

[2016-06-20 15:48] maximvl opened #217 "Exceed limit results"
Hi guys, as I can see here https://github.com/etsy/hound/blob/203bd0c7601e28de8c4ae4e922bc0b76938af268/index/index.go#L198 - results are just dropped if they exceed limit (which is constant - 5000).

It is possible to return what was collected so far, instead of just dropping everything. Or, alternatively you can let user set max number of results he wants, of course limited by server's limit too.

[2016-09-06 10:02] AlexFielder opened #220 "Interactive Services Detection"
Hi all,

I have recently set up Hound on my local Windows 10 system and the search function is great.

However, having installed the program as a service using FireDaemon I am now regularly presented with an "Interactive Services Detection" dialogue box which doesn't respond when I click into it.

The dialogue in question is prompting me to input my Visualstudio.com credentials which I assume woul

[2016-09-06 10:09] AlexFielder commented on #199
Found the solution which was to make an empty Visual Studio project at that location, include the files I want it to index and then add the whole lot to source control.

[2016-09-06 10:09] #199 closed

[2016-09-16 17:24] #183 closed

[2016-10-12 04:21] ProgramCpp opened #225 "Does the parser support comments in config.json"
can we have comments in the config.json file?

[2016-10-12 04:32] dgryski commented on #225
Go's `encoding/json` package does not support comments, and neither does the JSON standard: http://www.json.org/

[2016-10-13 10:02] vpereira opened #226 "index directory: does it work?"
I have the following config:

[code]

with that configuration i try to start houndd as described

[code]

So as You can see it fails. I built the docker container using the provided Dockerfile.

[2016-10-13 14:16] lmount commented on #226
I think `hound` tracks only repository directories.

[code]

[2016-10-13 14:41] vpereira commented on #226
hey @lmount, thank you for your answer.. hmm in the documentation we have

Reading that, I expect that regular directories containing files would be indexed.. no?
Maybe a documentation problem?

[2016-10-13 14:46] lmount commented on #226
I'm with you on that, the documentation is not very clear. It should read:

[2016-10-13 17:25] vpereira commented on #226
hey @lmount, if it is as you described, it doesn't fit my needs :-/
thank you anyway. I see there is an open git pull to solve it. I will keep my eyes on that!

[2016-10-14 09:10] AlexFielder commented on #226
I can confirm through my own experience that Hound will ignore/error on any
folder it finds in the .config file which isn't a repository as Lampros
showed above.

I solved this myself by simply creating an empty Visual studio solution and
adding the files/folders I wished Hound to index to that solution.

I did ultimately push that solution to GitHub but Hound was able to index
the folder prior to

[2016-10-24 02:21] zmagg commented on #169
@kellegous What's the approach that you were thinking about for this? Would using glog and configuring where to send the logs to using flags match what you were thinking? (https://github.com/golang/glog)

[2016-10-24 15:59] kellegous commented on #169
Maybe it's a fool's errand to kick this can down the road, but Hound still has no external dependencies. I'm wondering if we can just get by with the standard golang `log` package to keep the dream alive a bit longer. Ultimately, I think that comes down to the question of how much we need leveled logging. Honestly, I usually feel like glog is over-kill and `log` is under-kill. So I guess the three

[2016-10-24 19:03] zmagg commented on #169
Ahhhhh.

So I'm not sure leveled logging is necessary yet for this project, I'm into #2. Taking a look around, it looks like there's some info/error modes, but that could be toggled at build time or with a runtime flag. (https://github.com/etsy/hound/blob/master/cmds/houndd/main.go#L22). I realize now that configuring to write to /var/log is independent of the log level question.

[2016-11-02 13:42] mikepurvis commented on #171
I would love to have this changed too. Looks like it isn't actually that many locations in the code that it gets set:

https://github.com/etsy/hound/search?q=api%2Fv1

Probably wouldn't be super hard to have a cfg entry for the server path.

[2016-11-21 20:57] sschuberth opened #227 "Use the distance between a pair of trigrams to reduce the matching candidate set"
The idea for this performance improvement is stolen from [zoekt](https://github.com/google/zoekt). For some background discussion please see @spearce's [post](https://groups.google.com/d/msg/repo-discuss/oJO2EkkLo4M/x3cEU_FQBAAJ) on the Gerrit mailing list.

[2016-11-22 05:03] dgryski commented on #227
Switching to positional index would be a very fundamental change to how all the code search logic works

[2016-11-22 07:40] sschuberth commented on #227
I see. So if you feel it's not worth it, feel free to close this issue.

[2016-11-22 11:41] hanwen commented on #227
Rather than rewriting the code, you could integrate the actual zoekt code. I'd be happy to help.

[2016-11-22 12:56] dgryski commented on #227
@hanwen Maybe the easier thing is to go the other way: integrate search index auto-updating and a prettier front-end into zoekt.

[2016-11-28 06:48] rogierlommers commented on #208
How exactly did you do this? I just want to use hound for indexing a (local) directory which isn't actually a git/svn/whatever-repository.

[2016-11-28 18:20] Wilfred opened #228 "Handle empty git repositories gracefully"
I'm indexing several hundred repos, and a few of them are currently empty. This causes an error in hound's logs:

[code]

If I cd to the relevant directory:

[code]

[2016-11-29 20:10] kylej-ibm commented on #193
Has anyone gotten around this issue?

[2016-11-30 09:14] Wilfred commented on #70
I have an instance with ~600 repos and this means restarting the service is very slow (can take more than 10 minutes). Should I open a separate issue for this?

[2016-12-02 12:52] TobiX commented on #207
Maybe use `--single-branch` instead?

[2016-12-15 07:31] zygisx opened #231 "Hound add ssh key to docker image"
When running `hound` in `docker` it is not possible to add ssh keys there to be able to index private github repositories.

If it possible then it is not documented anywhere.

[2016-12-15 10:16] mbernabeu commented on #231
Try mount your folder ssh
docker run -d -p 6080:6080 --name hound -v $(pwd):/data  -v ~/.ssh:/root/.ssh etsy/hound

[2016-12-18 10:12] zygisx commented on #231
Thanks that helped!

Closing this issue.

[2016-12-18 10:12] #231 closed

[2017-01-09 11:59] oroger commented on #9
Being able to able to specify a specific branch to index would be greate, multiple would be awesome ! +1

[2017-01-10 17:09] zzhong commented on #205
I'm going to close this. Please re-open the issue if the problem comes back (or if it's still an issue with the current GitLab release).

[2017-01-10 17:09] #205 closed

[2017-01-10 17:17] #188 closed

[2017-01-10 17:34] Wilfred commented on #188
Thank you! :)

[2017-01-10 19:10] mrtazz commented on #225
closing this as it's been answered

[2017-01-10 19:10] #225 closed

[2017-01-10 19:13] mrtazz commented on #216
This is awesome! Closing this issues since it's not actually an issue :)

[2017-01-10 19:13] #216 closed

[2017-01-20 08:06] bschlenk opened #233 "What's the purpose of having 2 Makefiles?"
I noticed there is a Makefile in the project root, and one under tools. They both seem similar, compiling js to jsx and things. How are they both intended to be used? Is one for development and the other for production?

[2017-01-20 08:10] bschlenk commented on #233
Just saw this is explained in the README. Sorry!

[2017-01-20 08:10] #233 closed

[2017-01-23 19:18] ge0rgi opened #234 "Index non-master branch"
I just installed hound. I am pretty happy with it however I have the feeling that only the master branch is being indexed. I can't  find code which I have only in non-master branches. I also have some repos where the default branch in not master. Is there a way I could configure hound to index non-master branches and/or index a different branch instead of master?

[2017-01-25 13:03] danielcb commented on #234
Hi,
[Here](https://github.com/etsy/hound/blob/master/vcs/git.go#L87) is the Clone function that gets executed the first time a new searcher gets created from the config:

[code]

If you just want to add the possibility to fetch another branch _instead_ of master, that should be easy enough (git clone -b branch url). Adding all branches of a repo dynamically on each run and cleaning them up if they

[2017-01-26 20:32] tanyunshi commented on #182
:+1: collapse/expand view would be very nice for a large amount of repositories.

[2017-01-26 21:49] ge0rgi commented on #234
Thanks I forked and added a branch property to the config file to specify the branch to index. It worked, however I had to change the driver interface to add a branch parameter to the clone method.

[2017-01-26 21:49] #234 closed

[2017-02-08 16:27] nickwinn opened #238 "Building from current Dockerfile produces error..."
[code]

[2017-02-13 12:13] lheckemann opened #239 "open_search.xml malformed"
The templating seems to substitute the `<` in the xml version declaration with `&lt;`. As a result, the search provider cannot be added in firefox.

Example: https://search.nix.gsc.io/open_search.xml

Adding the search provider fails in firefox with the cryptic error message

[2017-02-13 19:03] andxyz commented on #83
As a note to other users, I will say locally I have searched my "code" directory for git urls like this.

[code]

which outputs something like this:

[code]

Then with some text manipulation I created the required `config.json` file.

[2017-02-14 14:57] joequery commented on #97
Why is this closed?

[2017-02-16 01:40] renweizhukov commented on #9
+1

[2017-02-22 16:34] anujsharma12feb opened #241 "GOPATH variable is empty even after successful installation"
I have installed go tools in ubuntu 14.04. But $GOPATH variable is coming as null even after successful installation. To fix the same, i have manually exported the $GOPATH.

I would like to suggest to make the same change in README.md such that it will be helpful for any newbie.

[2017-02-22 16:39] anujsharma12feb commented on #241
I would like to make the change if Authors are happy for the change.
Recommended change is:
https://github.com/anujsharma12feb/hound/commit/5ece28809cd03893cfa696dd924c26d78153398a

[2017-02-27 11:40] AlexFielder opened #242 "How to redirect houndd links to the correct git address."
Hi all,

I've been using Hound for a while locally, but now need to allow the rest of the team to use/search with it.

So I have [Bonobo Git Server](https://bonobogitserver.com/documentation/) installed and running on IIS on Windows 7.

The problem I have is that although Hound can index the git repository just fine from this link:

http://gra0387af/Bonobo.Git.Server/CM.git

When I click a link to

[2017-02-27 11:52] AlexFielder commented on #242
Hmmm, okay.

That was relatively painless to solve by following the help [here](https://support.microsoft.com/en-us/help/324000/how-to-redirect-urls-to-different-web-sites).

Basically I set up IIS as per this screenshot:

![2017-02-27 11_49_01-internet information services iis manager](https://cloud.githubusercontent.com/assets/167413/23360398/fd40b166-fce2-11e6-9e3d-d7b1ef70f7b3.png)

And after

[2017-02-27 11:52] #242 closed

[2017-03-01 16:05] AlexFielder opened #243 "Encoding issues with ANSI files."
Hi all,

We're now using Hound to index a fairly large codebase >1.5GB and I just noticed that there are 1,000s of files being ignored if they have ANSI encoding instead of UTF-8. They appear in the excluded_files.json file

Is this something that can be fixed within Hound or will I likely have to figure out how to change the encoding of all these files?

Thanks,

Alex.

[2017-03-02 17:31] pabelanger commented on #119
ohai! Now I know why puppet is disabled on codesearch.o.o :)

[2017-03-12 05:24] dgryski opened #244 "Please merge https://github.com/google/codesearch/pull/47"
The bug in siftUp() is present in your vendored copy, which means that for large numbers of repositories the merge step can produce out-of-order indexes which will cause queries to fail.

[2017-03-22 11:17] AlexFielder commented on #243
For anyone else having the same issue, here is the (quickest) fix I could come up with:

1. Install Notepad++ (NP++) 32 bit (important because there's currently no plugin manager for the default x64 installation from chocolatey.org!)
2. Install the Python Script plugin for NP++
3. Create new script: ![2017-03-22 11_08_11-c__projects_go_hound no cm_error log - notepad administrator](https://cloud.g

[2017-03-23 10:43] AlexFielder opened #246 "Unable to host this on Azure web app"
Hi all,

In theory, given that Azure now includes go support by default, I should be able to run:

go get github.com/etsy/hound/cmds/...

and have Azure pull down the necessary files but when I run that I get the following:

If I cd to d:\program files\go\1.7\bin and run it again I get:

Is this simply a limitation of Azure web apps?

Thanks,

Alex.

[2017-03-23 15:23] bschlenk commented on #227
How much of a performance improvement? Can we see some numbers comparing identical setups? Hound is already blazing fast. I've never had a search take over a second on searches with 150+ repos. My typical search takes ~200ms.

[2017-03-24 11:59] #244 closed

[2017-03-24 14:56] hanwen commented on #227
@bschlenk - how many files and how much bytes do these 150 repos cover?

Is there an interesting corpus we could agree on? Maybe something medium sized like the linux kernel or webkit? Or something large like https://chromium.googlesource.com/chromium/src/ ?

[2017-04-13 09:29] dgryski commented on #183
This causes problems when the default branch is not `master`.

[2017-04-13 17:55] hanwen commented on #227
for rare strings for files in cache, results take ~10ms typically.

Try http://cs.bazel.build/search?q=r%3Atorvalds+crazy+idiot&num=50

(you can try other queries with "r:torvalds" to restrict to the linux kernel.)

[2017-04-15 09:43] avar opened #249 "Hound's git usage is bad in multiple ways. Solutions inside"
There's multiple bugs with how hound is using Git, and it's often doing bad things for no reason, and there's multiple outstanding issues & PRs which try to build on this bad behavior, rather than fixing the underlying issues.

Some of those issues/PRs are:

* #207 filed by me to stop using --depth, added in 2e9ceb9e5f327a37a9d091648497a48250ee130c by @kellegous (and we should use --single-branch

[2017-04-23 09:34] avar commented on #249
Future versions of git will have a `git clone --no-tags --single-branch` feature. [See my patch on the git mailing list](https://public-inbox.org/git/20170419143831.6868-1-avarab@gmail.com/), we're in the middle of a release cycle so I'm not sure when that'll be released.

In the meantime following tags is not a big deal, so in lieu of the the whole tagOpt / tag -l / tag -d dance (which equivalent

[2017-04-28 12:12] danielcb commented on #246
I've no idea about Azure, but assuming it's some kind of windows machine you're working on:
The first error is because you're missing the path to go in your PATH variable and the second error is because your goroot is set to C:\go which seems to be not available?

[code]

[2017-05-02 19:32] hanwen commented on #227
I did a bit of benchmarking on the linux kernel on my laptop.

Searching for a rare string like "crazy" or "vmsplice" in the linux kernel takes about 30-50ms on Hound.

On Zoekt, this takes about 1-2ms.

[2017-05-03 06:34] dgryski commented on #227
I got a 10x speedup switching from linear scan to galloping search for my own postings list code: https://github.com/dgryski/go-postings/commit/c5076451beb432f81f5f3a789ff3bf7991b55a76

[2017-05-06 19:20] bschlenk opened #250 "Improve startup times - call newSearcher in parallel"
Within [MakeAll](https://github.com/etsy/hound/blob/d6a73ac4ff8a312b26a6cd892f1910fd3a460c31/searcher/searcher.go#L269), is there anything preventing the calls to [newSearcher](https://github.com/etsy/hound/blob/d6a73ac4ff8a312b26a6cd892f1910fd3a460c31/searcher/searcher.go#L369) from being done in parallel? With very large configurations it can take a few minutes for hound to start. At my job we a

[2017-05-12 10:19] AlexFielder commented on #246
Hi @danielcb,

When I originally posted this, I was attempting to use an Azure web app instance to host hound. It looked like a winner because the web apps have go already installed.

I posted this error in a couple of places (Stackoverflow & Microsoft's forum) and got a couple of responses there but wasn't able to figure it out. I don't believe it's the fault of Hound itself, but thought I would

[2017-05-24 13:57] makefu opened #251 "Keep repo filter after search"
# Problem Description
Hound UI does not keep the repo filter after reload or redirect to the website

# Steps to reproduce
1. go to hound website
2. filter for a specific repo
3. press search
  * filter for repo is applied correctly
4. press f5 and search again
  * filter is removed

# Expected behavior
* Repo filter is applied correctly after reload

I want to use hound search for a specific repo

[2017-05-31 10:40] makefu commented on #251
Yesterday i checked the code again with a friend and he said that this is no "trivial" bug to fix, there is no issue with the parsing of the parameters. It is most likely related to the react model and how it is built.

[2017-06-30 22:14] jonesetc opened #253 "Adding UI configuration"
It would be useful to add in the ability for setting some UI configuration. One use case is that my team uses hound to search our private repos, but we almost universally want to do case insensitive searches. It would be great if we could just drop in a config file for the UI as well as the main service to control this.

A possibility for this would be support dropping in a `config.js` file into `

[2017-07-02 05:37] 7anshuai commented on #9
+1
Failed to git fetch `redis`, output `fatal: Couldn't find remote ref master`

[2017-07-06 21:09] lukehsiao commented on #134
Indexing local directories would be a great feature. Is there any way to workaround this while the PR is being updated?

[2017-07-20 08:59] stevecraig opened #255 "Is there a way to open the entire file in the browser?"
I love the speed of hound and I'm using it to index a large svn project.

The web search all looks fine but if I click on the file link to see the full file in context I get a svn+ssh:// link that chrome doesn't know how to handle.
Is there some trick or configuration that I can do so I can view the entire file in the web browser?

[2017-09-18 23:51] Roguelazer commented on #193
This is also problematic for me.

[2017-09-21 16:52] nmklong opened #260 "Is there away to run it with command line?"
Just wondering if there's a way to run it in command line like "git grep" or "grep"?

[2017-09-21 18:49] dgryski commented on #260
https://github.com/etsy/hound/tree/master/cmds/hound is a command-line interface to the search engine,

[2017-10-07 17:46] dmsimard commented on #9
There is also this PR with a different approach: https://github.com/etsy/hound/pull/224

[2017-10-16 15:03] wenerme commented on #238
Please add `musl-dev`

https://pkgs.alpinelinux.org/contents?file=Scrt1.o&path=&name=&branch=v3.6&repo=&arch=x86_64

[code]

[2017-10-19 13:48] grahamhayes commented on #201
I have found `http <server>/api/v1/search q=<query> repos='*' -f | jq '.Results | keys'` using [httpie](https://httpie.org/) and [jq](https://stedolan.github.io/jq/) (should work fine with curl as well) gets the name of the repos.

e.g.
[code]

[2017-11-02 18:56] vivekanand1101 opened #263 "Does hound work on bare git repos?"

[2017-11-06 07:53] vivekanand1101 commented on #263
It does

[2017-11-06 07:53] #263 closed

[2017-11-07 10:27] kisphp opened #264 "PHP Repository with vendor packages populated by composer"
Hello, I am using Hound with a few php projects. I wonder if it's possible to execute command `composer install -n -a` after hound fetches the repositories, so that the indexed files contains vendor directory too and I can search inside vendor too. If it is, then how ? Or there is any hook that can be used to do this before indexing files ?

I don't find a good idea to add each repository in the `

[2017-11-20 18:42] xdsv commented on #134
+1 on local directories

[2017-11-22 18:48] MartinKuhne opened #266 "Windows: Path too long error on file:// local repo"
fatal: cannot create directory at '(long path name)': Filename too long

Windows has a MAX_PATH limit of around 256 characters. Programs can use an alternative syntax to gain access to longer path names. This is documented at https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx#maxpath

[2017-12-11 23:40] sahildua2305 commented on #239
I'm facing the same issue with `open_search.xml` as well. I'm working a patch to fix this.
@stanistan feel free to assign this to me.

[2017-12-12 11:44] grahamc commented on #239
FWIW future bug reviewers,  https://search.nix.gsc.io/open_search.xml works fine because I serve a static version of open_search.xml via nginx, instead of passing that request to Hound: https://github.com/grahamc/network/blob/master/zoidberg/default.nix#L155-L162

[2017-12-14 14:32] stanistan commented on #239
@sahildua2305 I can't actually assign you using github's tools (probably due to some settings), but feel free to open a PR with the fix, assign me to review.

[2017-12-17 19:00] sahildua2305 commented on #255
@stevecraig as far as I know, hound doesn't support viewing the file within the application and simply links to the source file path.

[2017-12-19 23:42] sahildua2305 opened #270 "Merge the two Makefiles into one"
Action points (copying from this [comment](https://github.com/etsy/hound/pull/256#issuecomment-352908917)):

1. Update the README.md with steps to clone hound into a GOPATH.
1. Merge the two Makefiles and just have the single Makefile assume that the source is on the GOPATH. (Maybe there is a way to double check that the code really is in the right directory).

For context: read comments [here](ht

[2017-12-20 15:43] jazzdan commented on #270
This can be assigned to me, I'll take a look this weekend.

[2017-12-20 21:48] sahildua2305 commented on #250
This will indeed be a big improvement as that will bring the startup time down significantly. @kellegous do you foresee any obvious challenges with this? Asking you before I dive into code/implementation.

I had a look at `newSearcher` method that's mentioned in the issue description. And I saw we use `config.MaxConcurrentIndexers` field for parallelizing the re-indexers and not the first time ind

[2017-12-20 22:12] kellegous commented on #250
IIRC, this is just a matter of doing the work of fanning out the calls to `newSearcher` while honoring `config.MaxConcurrentIndexers` and then synchronizing the writes into the `searchers` map.

[2017-12-20 22:14] sahildua2305 commented on #250
Cool. I'd like to hack around this next then. Seems to be an interesting and significant enhancement.

[2017-12-21 12:28] #239 closed

[2018-01-17 16:19] dmsimard commented on #249
https://github.com/etsy/hound/pull/275 provides the ability to specify a git branch other than the hardcoded "master".

[2018-01-17 16:19] dmsimard commented on #9
https://github.com/etsy/hound/pull/275 provides the ability to specify a git branch other than the hardcoded "master" and it works for us.

[2018-01-17 16:21] dmsimard commented on #234
https://github.com/etsy/hound/pull/275 provides the ability to specify a git branch other than the hardcoded "master" and it works for us.

[2018-01-18 17:03] #250 closed

[2018-01-19 18:31] mikepurvis commented on #249
We had a bunch of issues with repos where the remote URL or branch would change, or the branch would have been force-pushed to (I know, I know). I can't represent it as being optimal, but the following has worked without problem across several months of continuous use:

[code]

The one caveat is that I believe this only works for tags and branches, not SHA strings. I haven't found a non-branching

[2018-01-23 23:01] sahildua2305 opened #276 "Time to release a new version?"
The last release was three years ago. Is there a reason for not releasing it for a long time?

/cc @kellegous

[2018-01-24 10:49] vgobbo commented on #251
Do you mind sharing how you were going to tackle this issue? This feature would help me and some colleagues a lot, which makes me want want to take a look into it.

I was thinking about storing the selected repos in a browser cookie once a search is performed. Once the page is accessed, the cookie would be loaded and the repos would be automatically selected.

Anyone have a better idea? Is this fe

[2018-02-22 11:45] rgpublic commented on #83
+1 this would be really useful. I was surprised this option doesn't already exist.
Here is my BASH script as a workaround:

[code]

[2018-02-23 00:27] bd808 opened #277 "git: support submodules"
It would be nice to have the git driver at least optionally support repos which are using submodules. A concrete use case is https://phabricator.wikimedia.org/T188023

[2018-03-07 11:34] AlexFielder opened #279 "Amend search function in Hound to allow easy sharing of search results"
Hi all,

I'm not sure if this has been asked before as I wasn't able to gather the necessary search-fu to find it:

When I run a search of a repo that is publicly available, it would be nice in the results if Hound could display/transpose the search terms used to allow easy copying/sharing of the link on Github (for example).

I guess Hound would need intelligence added to work with github and any

[2018-03-07 22:31] legoktm commented on #279
Why can't you share the hound URL?

[2018-03-12 04:45] w0rhost opened #280 "error with main.go:124 +0x6ab"
https://github.com/etsy/hound/blob/92e228e2be3d624b89e3eaf5d2a4098495937587/cmds/houndd/main.go#L124

/src/github.com/etsy/hound/cmds/houndd/main.go:124 +0x6ab

[2018-03-12 04:47] dgryski commented on #280
If no configuration file is available, perhaps the error message could be nicer. But hound cannot proceed in that state.

[2018-03-12 05:39] w0rzxy commented on #280
thank you very mach..

[2018-03-12 09:46] AlexFielder commented on #279
Because in my particular case, the Hound repo isn't shared publicly. (This **IS** something I have considered doing, but don't have the necessary Apparatus to do so just yet)

[2018-03-12 17:03] dgryski commented on #280
So, this can either be closed or retitled "Improve error message when configuration file not found"

[2018-03-12 17:04] dgryski commented on #260
Can this be closed?

[2018-03-13 00:46] w0rzxy commented on #280
因为我的config配置文件少了个大括号},所以就出错了。

[2018-03-13 00:49] dgryski commented on #280
Recent Go versions include more information in the unmarshal error message.  Given that JSON is tricky to generate by hand (extra comma, for example), maybe the error message should be made clearer.

[2018-03-13 01:06] w0rzxy commented on #280
thank you very mach..

[2018-04-27 06:28] Nikerabbit opened #281 "Inconsistent sorting of search results"
The expected order of search results seems to be most number of hits and alphabetical if the same number of hits.

This is achieved by the following code (search results are returned in alphabetical order from the server):
https://github.com/etsy/hound/blob/d6a73ac4ff8a312b26a6cd892f1910fd3a460c31/ui/assets/js/hound.js#L210-L212

The issue is that I am seeing some weird ordering:
![spectacle v2291

[2018-06-01 08:27] danechitoaie opened #284 "Is this project still maintained?"
Is this project still maintained? Can it be used or it's been abandoned?

[2018-06-06 22:43] gwindes commented on #284
It is definitely still usable and easy to extend.
I've added quite a bit in my fork: https://github.com/gwindes/hound

[2018-06-07 18:08] dbarranco commented on #119
Do we have some news here? Would love to see this happening :(

[2018-06-14 04:19] mwgamble commented on #276
I'd definitely appreciate a new release. It feels long-overdue.

[2018-06-14 08:33] sahildua2305 commented on #276
@kellegous what do you think?

[2018-06-15 22:53] trashhalo opened #285 "Client does not update object on response failure"
[code]

[2018-06-29 09:17] AlexFielder opened #286 "hosting hound on a website that redirects http requests to https yields "ERR_SSL_PROTOCOL_ERROR""
Hi all,

Maybe I am missing something in the Hound configuration, but after recent Google Chrome changes, I am unable to access hound when hosted behind the (recommended) configuration of pushing http requests to https.

Does anyone have any tips on getting this working again?

Thanks,

Alex.

[2018-06-29 10:39] AlexFielder commented on #286
So it looks like I should be able to run Hound as an application within IIS based on this information:

https://stackoverflow.com/questions/33916771/run-go-web-application-on-iis

&

Further reading here:

https://docs.microsoft.com/en-us/iis/extensions/httpplatformhandler/httpplatformhandler-configuration-reference

I can't quite get the syntax correct in the web.config file though:

`<?xml versi

[2018-07-03 11:56] StayTherapy opened #287 "Do not support hot-reloading config.json ?"
If `config.json` was updated while the program was running , Hound do not reload the configure unless restart it . Are there ant plans to support hotr-reloding ?

[2018-07-11 16:00] #260 closed

[2018-07-15 17:35] #281 closed

[2018-08-17 18:09] Krinkle opened #292 "Highlighted result overlaps surrounding words"
Experienced in Chrome 68 (latest stable) and Chrome 70 (canary). Seems to be fine in Firefox 61 and Safari 11, so this might be a browser bug.

URL:
<https://codesearch.wmflabs.org/search/?q=expandableField>

Rendering:
<img width="1030" alt="screen shot 2018-08-17 at 19 04 03" src="https://user-images.githubusercontent.com/156867/44281638-5ad82c00-a250-11e8-8210-1f1cf0f83044.png">

Actual text/co

[2018-08-23 16:11] Katherine-Bishop opened #293 "Idea for documentation search"
Engineers like putting documentation in Github next to their code, but if you search in Hound for a keyword in Markdown-formatted files, there is a good chance of getting a ton of irrelevant results because the ranking of search results doesn’t take into account the document structure.

In the case of Markdown-formatted documentation search the most relevant results are the documents with matches

[2018-09-12 22:42] Katherine-Bishop commented on #293
I have gotten a rough prototype of the idea working. The code for it can be found [here](https://github.com/Katherine-Bishop/hound/commit/a347ce345d1e7a0c5ca52b1666d9fc441841ea63) in my fork. I configured an instance of Hound to point at this [repo of frontend documentation](https://github.com/FrontendMasters/front-end-handbook). Here are a few screenshots of what the documentation search looks li

[2018-09-19 16:23] bykvaadm opened #294 "config location"
Please locate config.json in /etc/hound/config.json by default, as while launching hound in kubernetes we must map persistent volume to /data, and config.json must be mapped as configmap but it cannot be mapped over already mounted location.

i'm writing helm package (k8s) for your project, and if ur interested in, i could share it to you

[2018-09-19 17:10] bykvaadm commented on #294
you really should not store data in the same directory where config is

[2018-09-25 12:11] #294 closed

[2018-09-26 22:11] newtoniumx3 opened #295 "How to track usage of Hound"
What are some ways we could monitor Hound, both usage and specific searches? Is there any systems either built in or that can be added as extensions?

We are running Hound on the intranet but we have no visibility of how it's being used and how much usage it gets.

Currently hound is being installed through a puppet pipeline.

**Preliminary ideas:**
1) Add a proxy forwarding endpoint in front of h

[2018-10-18 12:01] wi-cuckoo opened #296 "Is there some way to paginate search result"
When I hava many code to search, eg, 100+ repos. Then the search result will be very very large in some case. Can we do pagination, like github.com, with simply method

[2018-12-29 00:15] #292 closed

[2019-02-19 09:20] cokelid opened #305 "Lookaround assertions in regular expressions?"
If I write a regular expression with a (positive or negative) lookahead (or lookbehind) assertion I get an error saying it's incorrect Perl syntax.

For example to look for the text "function" that's not followed by an underscore, I might use this:
`function(?!_)`

However that returns the error:
`ERROR:error parsing regexp: invalid or unsupported Perl syntax: (?!`

However they do work in Perl!

[2019-02-19 09:48] cokelid commented on #305
OK, looks like this is a limitation with regex in Go (RE2), rather than a Perl thing:

https://github.com/golang/go/issues/18868
https://github.com/google/re2/issues/156

[2019-02-19 13:04] impca commented on #295
Here's another idea - put Nginx in front of Hound, enable access logs and parse them.

[2019-03-06 07:01] genuinelucifer commented on #9
#275 only adds the ability to specify one branch. Which still leaves room for improvement. I would like to be able to search on multiple branches in any repo. I tried changing the repo name for different branches using #275 but it doesn't work.
I am trying to port the patch https://github.com/caglar10ur/Hound/commit/a9208072a0444cd562592ca1bf348bf816ba4c2a to latest hound code to allow this functi

[2019-03-27 08:07] perumalpandian opened #306 "Is it possible to get houndd version ?"
As **bin/go-bindata** provides version (bin/go-bindata -version), Is it possible to get bin/houndd version ?

/hound/bin# ./go-bindata -version
go-bindata 3.1.0 (Go runtime go1.5.3).
Copyright (c) 2010-2013, Jim Teeuwen.

[2019-04-03 06:46] genuinelucifer commented on #9
I have successfully adapted and tested a patch for specifying multiple branches in all the repos. I have also added an option to specify if user wants to search all branches or only master branch. Anyone interested can find the patch here:
https://gist.github.com/genuinelucifer/77346b81f79d2fdf3853fec16ef32fc0

[2019-04-11 14:16] hepiyellow opened #307 "Restarting `houndd` with existing `data` without invoking `Searchers`?"
I noticed that when I restart `houndd` is invokes all searchers first, and only when they finish, it starts to listen on port 6080.

Is it possible to have it start serving from the existing `data` folder,
and have the `Searchers' only update it later?

I am asking this because I want to configure hundreds of repos, and the Searchers may take a long time.

[2019-04-17 05:35] genuinelucifer opened #309 "Is there a wy to search file name?"
I want to search files with just filenames. I tried adding filepath and using `.*` in the query but it didn't work (UI just hangs).

I tried to edit the code but it first gets results for the query and then filters by filenames. Any pointers about how to add this functionality would be helpful.

[2019-05-09 17:06] r3m0t commented on #276
@kellegous  @jklein would you be able to tag a release?

[2019-05-10 13:55] jklein commented on #276
@mwgamble @sahildua2305 @r3m0t neither Kelly nor I work at Etsy anymore, so we can't do this. I'm honestly not sure who to reach out to at this point, sorry!

[2019-05-10 17:58] r3m0t commented on #276
@SaraBee @cconstable @mchalek @macdoum1 can you tag a release?

[2019-05-15 04:48] afm-sayem commented on #193
Any update on this? Links to the original file is broken at the moment. If this gets merged can the `port` be a variable in `url-patterns`. In my use case, I need to be able to omit the port when the url is constructed.

[2019-05-29 06:49] perumalpandian opened #310 "TLS support for Hound"
I am trying to add TLS support for Hound and I am successful with Apache. But the problem is, I am still able to access my Hound with **http://MachineIP:8888** from external network. I want to restrict this to only localhost access. So that I can access my hound only through my apache reverse proxy. I don't want to use "**iptables**". Do we have any configurations in Hound itself ?

[2019-06-06 01:40] nfultz opened #311 "Local repos could be symlinked instead of clones"
In experimenting with hound, it seems like replacing local clones with symlinks works:

[code]

Since I have a lot of repos, this could potentially reduce my disk usage a lot. Is this a bad idea?

[2019-07-03 10:52] javsalgar commented on #309
+1

I need this feature too

[2019-07-07 23:53] hvariant opened #322 "ldap authentication support"
It would be nice to support this.

[2019-07-08 06:57] #322 closed

[2019-07-08 06:57] hvariant commented on #322
You can proxy through nginx and do ldap authentication there.

[2019-07-13 02:32] dubiouscript commented on #311
i dk tbh , but i hear less is more

this

made me thunk of
https://github.com/taterbase/git-mount
that!

  \* why copy or link when you could :bulb: mount *

=]

[2019-07-13 04:20] dubiouscript commented on #307
+
https://github.com/hound-search/hound/issues/214

[2019-09-27 00:00] mikeyrcamp commented on #310
I had something similar and ended up putting hound in a container, and only allowing external access through the apache httpd proxy.

[2019-10-03 20:07] Pomyk commented on #112
Looks like it's fixed now, thanks.

[2019-10-03 20:07] #112 closed

[2019-10-16 11:11] davix opened #325 "Documentation for `url-pattern`"
Hi, I'm using private bitbucket and `url-pattern` has to be used.

The example in config-example.json doesn't work for me. I need to customize my own.

But I don't find any document explaining this config. I don't understand the relationship between url and url-pattern, and what parameters can be used like {path}, {filename}, etc.

Hope the answer is added into a document so that others can benefi

[2019-10-16 11:23] davix commented on #325
Here's an example FYI:

url to clone:

ssh://git@stash.example.com/my_proj/my_repo.git

url to browse code:

https://stash.example.com/projects/my_proj/repos/my_repo/browse/my_code.py?at=refs%2Fheads%2Frelease%2Fath_1.0.0#17

branch is "release/ath_1.0.0".

[2019-10-16 20:20] tomgigler commented on #309
If you're just looking for where a file of a particular name exists in the repo, try ```.``` not ```.*```

[2019-11-16 16:33] yelizariev opened #326 "FORK"
I've made a fork of the project: https://github.com/it-projects-llc/hound

What have been done so far:
* [Change links in the docs](https://github.com/it-projects-llc/hound/commit/d3fb3a3d8d2f3c9156d0e5410a9de77ee8e04f31)
* Add [automatic rebuilding](https://github.com/it-projects-llc/hound/blob/master/.github/workflows/main.yml) of ``ui/bindata.go``
* [Merge](https://github.com/it-projects-llc/ho

[2019-11-17 10:32] yelizariev commented on #326
* [Merge](https://github.com/it-projects-llc/hound/pull/4) #223 about new option "exclude files"

[2019-11-18 12:34] corbosman opened #328 "abandoned?"
Am I right in assuming hound has been abandoned? I have a PR waiting to add github webhooks to trigger updates, but if it's been abandoned I'll just run it off my own fork.

[2019-11-18 13:26] jklein commented on #328
Hey @corbosman - I certainly don't have the bandwidth to maintain it at this point, and it seems like @kellegous is in a similar boat. We created this project when we were both at Etsy, and we've both been gone for a few years. It looks like the company has spun it off to its own project/namespace, so I doubt there's commitment to maintain from Etsy. If someone wants to take over this repo and kee

[2019-11-18 13:53] corbosman commented on #328
Well if someone is interested, I added support for github webhooks. We run about 1500 repos from a Github Enterprise through hound, and polling was certainly not an option. There is an api call for updates, but that doesn't match a github webhook. So i added an api call that can parse a github webhook and start an index for the repo involved. You can see my patch here if someone wants to copy it t

[2019-11-18 22:35] bgreenlee commented on #328
@corbosman Where's the PR for that? I'm not finding it.

[2019-11-18 23:26] corbosman commented on #328
@bgreenlee  I did not actually submit the PR, figured that was kind of useless if it's been abandoned. You can see the patch on the link above.  Im just building a docker image from my own fork now.

[2019-11-19 07:59] yelizariev commented on #328
I currently working on a project, which is based on hound. Specifically, I want to make some preview tool to get a running hound in PR. I can do it here instead of the [fork](326) and use my own servers for the tool. But all that makes sense if I get contributor access

[2019-11-20 20:57] elchininet commented on #328
@corbosman, cc: @jklein,

I wrote @kellegous some months ago, asking this same question because Hound is actively used at my Company and I prefer to contribute to the community project than to our personal internal fork.

I have a lot of improvements to the front-end code but I didn't pushed more pull requests because the first one is waiting since September, so, if it is possible, I would like to

[2019-11-21 01:46] dgryski commented on #328
I believe part of the reason it was moved to an external org was precisely so additional maintainers could be added.

[2019-11-29 09:57] yelizariev commented on #326
* [merge](https://github.com/it-projects-llc/hound/pull/12) https://github.com/hound-search/hound/pull/235 about collapse\expand results

[2019-11-29 11:02] yelizariev commented on #326
Sync with refactoring made by  @elchininet https://github.com/elchininet/hound/commit/3d31457bd3844c6d6176ce20537d9ac05b85a7ca

[2019-11-29 11:08] yelizariev commented on #326
Simple CI tool to preview updates in PR:

* example: https://github.com/it-projects-llc/hound/pull/16#issuecomment-559749161
* source: https://github.com/it-projects-llc/hound/blob/master/concourse.yml

[2020-01-09 08:20] legoktm opened #332 "Docker image not updated since Nov. 2018"
The [etsy/hound docker image](https://hub.docker.com/r/etsy/hound/tags) advertised in the README hasn't been updated since "[11/2/2018 at 3:26 am](https://hub.docker.com/r/etsy/hound/tags)".

Can the github -> docker hub integration be restored? Or maybe the image needs to be under a different name now? Idk.

[2020-01-18 11:14] jklein commented on #328
@corbosman and @elchininet - I'm going to add you both as maintainers and close this issue. Sorry for the extreme delay here, this just hasn't been high on my priority list with my day job.

[2020-01-18 11:16] jklein commented on #328
Oh hey, turns out I can't do that. Looks like @kellegous is the owner and I'm just a lowly member. Hopefully he can do this

[2020-01-18 11:31] elchininet commented on #328
Ok, let's wait for @kellegous then. Thanks.

[2020-01-18 12:14] corbosman commented on #328
I prefer not to be a maintainer, Im not really involved in running hound in our company. I just created this patch so our github enterprise wasn't being flooded by hound.

[2020-01-23 06:49] yelizariev commented on #326
Other updates are published here: https://github.com/it-projects-llc/hound/releases

[2020-01-23 06:56] yelizariev opened #334 "Refactoring?"
Any plans to apply refactoring made in https://github.com/elchininet/hound/commit/3d31457bd3844c6d6176ce20537d9ac05b85a7ca ? Those look reasonable.

[2020-01-25 07:08] elchininet commented on #334
That commit assumes that all these commits have been applied: https://github.com/elchininet/hound/commits/better_data_and_state_management

But I think that this project is totally abandoned, so it is better to make any changes in our own repositories. I'll try to merge those with my master branch soon.

[2020-01-26 07:19] yelizariev commented on #334
@elchininet I actually did some merging here: https://github.com/it-projects-llc/hound

[2020-02-27 10:10] Aberrantfox commented on #326
Just as I was about to give up on this tool, thank you!

[2020-05-27 18:22] salemhilal commented on #332
The original image is owned by Etsy, but this project is no longer maintained by Etsy. We can look into setting up a docker account and publishing a new image.

[2020-05-27 18:27] salemhilal commented on #311
I'm going to close this issue for now. If there are outstanding questions, feel free to reopen the issue.

[2020-05-27 18:27] #311 closed

[2020-05-27 18:29] salemhilal commented on #310
I'm going to close this issue for now. If there are outstanding questions, feel free to reopen the issue.

[2020-05-27 18:31] #310 closed

[2020-05-27 18:37] salemhilal commented on #305
If there are errors, it may be worthwhile to show a link to some documentation alongside the parsing error. We'd love a PR for that contribution.

[2020-05-27 18:40] salemhilal commented on #295
Having detailed metrics tracking might be a bit out of scope, but looking into better logging might be on the table in the nearer term.

[2020-05-27 18:50] salemhilal commented on #293
I think that in the near term, tailoring Hound specifically for documentation might be too specific of a goal. I don't think it's a bad idea to provide some additional tools to make it easier to get results for queries directed at documentation though. For example, while having a documentation-specific option might be too narrow, having an option to sort results based on a relevancy algorithm (kin

[2020-05-27 18:50] #293 closed

[2020-05-27 18:55] salemhilal commented on #287
That's not a bad idea. We'd definitely accept a pull request for something that solves this.

[2020-06-08 23:13] legoktm commented on #332
That would be wonderful. Please let me know if you need any help doing so, I've set it up for other repos before. Here's the documentation: https://docs.docker.com/docker-hub/builds/

[2020-06-24 18:21] salemhilal commented on #328
Hey everyone,

I wanted to take a second to introduce myself, @dschott68 , @jacobrose, and @nickmoorman. We've all volunteered to help maintain the Hound project. We are all engineers at Etsy, and most of us Hound literally every day to do our jobs. Our first goal is to triage the backlog of issues and PRs, with the hope of getting a sense of what a future roadmap will look like in the process. We

[2020-06-24 18:21] #328 closed

[2020-06-24 18:22] salemhilal commented on #326
Hey @yelizariev, I want to assure you that Hound is not abandoned, and we're interested in bringing our repo to parity with your fork. We're triaging the backlog of issues and pull requests, but if there are issues that would block you from using Hound, we'll do our best to prioritize them.

There's a little more detail here: https://github.com/hound-search/hound/issues/328#issuecomment-648987144

[2020-06-24 18:29] salemhilal commented on #284
This project is still being maintained!
More details here: https://github.com/hound-search/hound/issues/326#issuecomment-648987584

[2020-06-24 18:29] #284 closed

[2020-06-24 18:40] dschott68 commented on #276
Hi @sahildua2305 Yes, we will work on a 0.3.0 release.

[2020-06-24 18:43] #277 closed

[2020-06-24 18:48] salemhilal commented on #266
I'm going to close this for now, but I'd love more details on reproducing this issue locally (does it happen when building, serving, etc.)

[2020-06-24 18:48] #266 closed

[2020-06-24 19:31] salemhilal commented on #285
Ah yes, this does look like a bug. It seems like when there are no results, the decoder just doesn't have anything to hydrate the response object with:
https://github.com/hound-search/hound/blob/e3b1b43/client/client.go#L113

We're still triaging issues, but we'd accept a pull request for this bug.

[2020-06-24 22:28] legoktm commented on #277
The idea is that we can search through all of the code we deploy, which might include submodules. @bd808 asked for it to be an option, which I think addresses any potential confusion if you have to explicitly opt-in to it.

The main advantage to using a submodule is that it would index the version of the code that is actually in the submodule, rather than having another repository which indexes ma

[2020-06-24 22:50] salemhilal commented on #277
@legoktm I think I may not be understanding this properly. If I have some string `S` that shows up in both a repository `R` and in a submodule `M`, and I query for `S`, would the results show both strings under the results for `R`, or would there be a separate group of results for `M`? And would `R` and `M` both show up in the "Select Repo" input in the advanced search?

[2020-06-25 07:31] yelizariev commented on #326
Hi @salemhilal, my main concern is about [refactoring of *.jsx files](https://github.com/elchininet/hound/commit/3d31457bd3844c6d6176ce20537d9ac05b85a7ca) that I applied to my fork before making further updating. If it would be applied to the hound, I'd join to the hound community and send PR with the some of the features I did.

Thanks for your efforts.

[2020-06-25 07:42] yelizariev commented on #334
Full list of commit to apply can be found here: https://github.com/elchininet/hound/commits/improve_searchbar_state_management

[2020-06-25 07:43] yelizariev commented on #326
I close this issue in favor of https://github.com/hound-search/hound/issues/334 then

[2020-06-25 07:43] #326 closed

[2020-06-25 10:00] elchininet commented on #334
@yelizariev, let me know if you need something from me.

[2020-06-25 12:12] corbosman commented on #328
@salemhilal Would you still be interested in my PR for github webhook support? It allows github to tell hound when to re-index a repo. I dont have any tests in it, my go knowledge is too basic. But we run this in production. You can see my patch here: https://github.com/corbosman/hound/commit/5c0e50f660b9a6effee3d4988333f498059c0d8d

But I can just make a PR if you're interested in it.

[2020-06-25 14:11] salemhilal commented on #328
@corbosman I think that'd be a great PR to have. Your commit looks pretty straightforward, too (and the fact that it's running in prod for you is reassuring). That API file definitely needs some tests, and this could be a good first test to write. I think you'll need to:
1. take that request handler and put it into its own function
2. test it using the `httptest` package.

I put a simple request h

[2020-06-28 19:11] dschott68 commented on #162
Closing this as previous comment hopefully help you out. If you still have issues, feel free to reopen.

[2020-06-28 19:11] #162 closed

[2020-06-28 19:16] dschott68 commented on #172
Let us know if you wish to keep this issue open and/or have a Pull Request.  Cheers.

[2020-06-28 19:22] dschott68 commented on #176
I tried a search query with ".*" on a hound setup with 80+ of repos and it quickly return "Error": "search exceeds limit on matches: 5000".  I am going to close this issue out.  If you wish to reopen with additional information or have a Pull Request, please feel free to reopen.  Cheers!

[2020-06-28 19:22] #176 closed

[2020-06-28 19:23] dschott68 commented on #179
Hi.  Do you still have a need for this and wish to keep this issue open?  Please let us know.  Cheers.

[2020-06-28 19:41] dschott68 commented on #276
We've posted a [v0.3.0](https://github.com/hound-search/hound/releases/tag/v0.3.0) release now.  Cheers!

[2020-06-28 19:41] #276 closed

[2020-06-28 19:53] dschott68 commented on #280
It seems like from the comments that this issue may not need to stay open.  If that is not correct, please feel free to reopen or make a Pull Request.  Cheers!

[2020-06-28 19:53] #280 closed

[2020-06-28 19:59] dschott68 commented on #246
Hi.  Where you able to get GO setup for Azure from the responses in the other forums?

[2020-06-28 20:03] dschott68 commented on #227
Hi. Is this still an enhancement you are pursuing?

[2020-06-28 20:08] dschott68 commented on #253
Hi, if you have interest and time, please do submit a Pull Request.  Cheers!

[2020-06-28 20:12] sschuberth commented on #227
Who is "you" in that sentence? Because so far no one has been pursuing this enhancement AFAIU, in the sense to actually look into implementing it.

[2020-06-28 20:15] dschott68 commented on #214
Hello.  We are going to close this based on the previous comment suggestion to POST to `/api/v1/update`.  Feel free to reopen if you feel you'd like to keep it open and/or open a Pull Request.  Cheers.

[2020-06-28 20:15] #214 closed

[2020-06-28 20:18] dschott68 commented on #209
Hello.  This issue was resolved with [PR 321](https://github.com/hound-search/hound/pull/321)

[2020-06-28 20:18] #209 closed

[2020-06-28 20:23] dschott68 commented on #191
[PR 321](https://github.com/hound-search/hound/pull/321) likely resolved this issue also.  Closing this issue, but please feel free to reopen or make a Pull Request if you wish.  Cheers!

[2020-06-28 20:23] #191 closed

[2020-06-28 21:44] salemhilal commented on #253
Seconded, and it could be cool to see a list of things that would be turned into features.

One thought is that it could be interesting to include it as a key in the same config, to reduce the need to manage two separate files. Another thought is that we could use a Webpack loader to provide access to the config's values at build time, instead of adding an additional script tag to the page.

[2020-06-29 14:52] AlexFielder commented on #246
No, I never managed it. :(

[2020-06-30 14:02] salemhilal commented on #270
Hey @jazzdan (hi!) — what's the status on that fork?

[2020-06-30 14:07] salemhilal commented on #241
I think the assumption here is that you have Go set up properly on your development machine. I'm a bit new at this, but I believe `$GOPATH` is something that you're responsible for setting yourself, rather than our installation.

See here for more:
https://golang.org/doc/gopath_code.html#GOPATH

I'm going to close this for now, but if you still have questions, feel free to reopen it and we'll be h

[2020-06-30 14:07] #241 closed

[2020-06-30 14:10] salemhilal commented on #264
This isn't the first request to ask about support for dependencies of a repo (see #277). We'll think about this. I'll leave this issue open for now.

[2020-06-30 19:29] jazzdan commented on #270
Hey @salemhilal it looks like the whole tools directory and its Makefile was deleted and now there's only one Makefile so I think this issue can be closed and my fork deleted. :)

[2020-06-30 19:38] salemhilal commented on #270
@jazzdan thank you! I just wanted to make sure I wasn't missing anything. I'm gonna close this issue.

[2020-06-30 19:38] #270 closed

[2020-07-23 15:06] nitrocode opened #346 "[request] terraform module for an easy deploy"
I've tried out hound locally and it's great. I'd love to deploy it in AWS on ecs or fargate using a docker container and an efs or similar. Would this be something that would be created officially or would someone have to create this in a separate repo ?

[2020-08-09 17:00] vipulgupta2048 commented on #246
Hey @dschott68 so I have picked up on this and it has been days since the Houndd's indexer just keeps on running and never stops. My config file is about 3800 URL's so maybe that's taking some time. Here's what I am doing

App Service --> Linux Docker Container --> Deploying my own Docker Image --> with the last command as houndd
I will report back if it runs or not. But, I feel it's a problem of

[2020-08-09 17:03] vipulgupta2048 commented on #246
I also tried using container instances which didn't work out, as its FQDN didn't bind to the right port.

[2020-08-10 12:52] salemhilal commented on #246
@vipulgupta2048 Regardless of what happens, we're investigating updating the official Hound docker image, which might make things a little easier. Are you able to load the Hound UI in your browser?

[2020-08-10 12:55] salemhilal commented on #346
I think having something like this in the repo isn't a bad idea. I'd first like to ensure that we have an up-to-date docker image before we do, though.

[2020-08-11 11:28] vipulgupta2048 commented on #246
Hey @salemhilal Thanks for replying, I just checked my Azure instance and it still shows `Hound is not ready` which either means the container is getting started again and updating its index. Or it hasn't indexed everything yet (after 4 days of running, not probable) To answer your question, yes I was able to load Hound UI in my browser once, but on refreshing it again showed Hound is not ready.

[2020-08-11 11:33] vipulgupta2048 commented on #246
Also, something more to mention, the `healthz` endpoint shows a :+1: so that's something positive.

[2020-08-17 23:31] salemhilal commented on #246
@vipulgupta2048 got it. I know very little about Azure hosting unfortunately. I'd check in with Azure support to see if they can offer any guidance on how to narrow this issue down. Since there isn't a reproducible bug, I'm going to close this issue for now. If you come across anything, feel free to reopen this issue and we can take a look.

[2020-08-17 23:31] #246 closed

[2020-09-28 23:09] amacfie opened #349 "Enable multiline search"
The searching seems to only find matches on a single line. Would it be possible to search across multiple lines?

[2020-09-30 13:05] salemhilal commented on #349
We'd gladly accept an option to support that feature as a contribution.

[2020-09-30 19:10] jacobrose opened #350 "Installation instructions"
Our installation instructions don't necessarily work for first-time Go users. Working from a machine (or vm!) that's never had Hound, Go, npm, etc. installed, we should go through the steps and ensure that a successful build can be achieved, or make any corrections needed to help first-time users get Hound up and running on their systems.

[2020-10-01 06:10] moio opened #351 "Index is apparently limited to 4 GB"
:wave: Hound developers!

I am trying to index a pretty large repo (144GB - all current sources of openSUSE), and unsurprisingly the index turns out to be larger than 4GB, thus I hit this fatal message:

https://github.com/hound-search/hound/blob/e3b1b43eb872e47af1de1b0e15d0ec3ac5c51dc4/codesearch/index/write.go#L561

Would it be possible / how hard would it be to support larger indexes?

I only h

[2020-10-09 18:24] rfan-debug commented on #350
Hi, @jacobrose i am looking at this issue now. I am writing some documents to describe how to setup from a clean VM.

May i know what kind of operating system you are using?

[2020-10-09 18:27] salemhilal commented on #350
@rfan-debug and I talked offline, but for some context:
* This issue is something that having a few people onboard with would be helpful.
* Jacob is a maintainer as well — we added this issue ourselves.

[2020-10-15 21:14] salemhilal commented on #227
I'm gonna close this issue. If there's interest in adopting zoekt, we can reopen it, but given that hound's speed isn't a huge concern, I think effort could be better spent on other issues.

[2020-10-15 21:14] #227 closed

[2020-10-16 14:57] salemhilal commented on #350
I'm going to assign this to myself, since I've been having everyone walk through this issue as their onboarding.

[2020-10-16 16:27] salemhilal opened #358 "Missing margin between advanced pane input boxes"
We need some margin between the "File path" and "Exclude file path" inputs. Bonus points if you can do this in a way that makes adding future inputs easy as well.

<img width="759" alt="image" src="https://user-images.githubusercontent.com/819218/96283780-b1656000-0faa-11eb-8dc9-18f6f7b8edee.png">

[2020-10-16 16:29] rfan-debug commented on #350
Hey, @salemhilal sorry for the delaying. I have some stuff here: https://github.com/hound-search/hound/pull/359

I am still testing the docker solutions.

[2020-10-16 16:32] blobbered commented on #358
i'd like to take this one on. =)

[2020-10-19 14:28] kartikay101 commented on #306
Anyone working on this ? If not, I'd like to pick it up.

And if you could let me know the relevant parts as well, it would be a great help

[2020-10-20 13:31] salemhilal commented on #306
Hey @kartikay101, you’re the first person interested in this issue! The files you probably want to check are the ones in the `cmds` directory, like this one:

https://github.com/hound-search/hound/blob/master/cmds/hound/main.go#L83

It might also be a good idea to exit the command after the version string is printed. I’ll put your head on this issue.

[2020-10-22 03:42] rfan-debug commented on #238
@salemhilal i think this issue can be closed. It is not relevant to my fix though.

[2020-10-23 01:59] salemhilal commented on #238
Thanks for the heads up @rfan-debug! (And thanks @nickwinn and @wenerme for reporting and proposing a fix for this issue.)

[2020-10-23 01:59] #238 closed

[2020-10-23 22:16] rfan-debug commented on #350
@salemhilal should we close this issue? #359  has been merged.

[2020-10-24 17:07] salemhilal commented on #350
@rfan-debug I wanna leave this open for now. I want a few more people working on different platforms to vet the installation instructions before I close them out.

[2020-10-24 18:54] salemhilal commented on #358
This was fixed in #361 (thank you!)

[2020-10-24 18:54] #358 closed

[2020-10-27 16:10] rfan-debug commented on #351
This seems to be an important issue.

[2020-10-28 17:17] salemhilal commented on #351
@rfan-debug it's likely something we'll have to do at some point. Are you interested in tackling it?

[2020-10-28 17:22] rfan-debug commented on #351
I think giving it a fix is not difficult. However, I am not sure how to test it reliably if i change any code.

It seems that we don't have sufficient integration test..

[2020-10-29 22:43] salemhilal commented on #351
I think that's part of what makes this issue tricky. If you're willing to write unit or integration tests, I'd definitely welcome that as well.

[2020-10-30 14:55] salemhilal opened #363 "`make test` fails if `db/` has contents."
If you start the `houndd` server, `/db` becomes populated with the contents of other repos. Both `jest` and `go test` currently crawl over `/db` and get confused by it, usually because there are naming collisions.

I think three things would make this a little better:
1. `make clean` should also empty `db/`.
2. `jest` should ignore `db/`, which seems easy to do in a `jest-config.js` file.
3. `go t

[2020-10-30 15:00] #306 closed

[2020-10-30 16:40] salemhilal opened #364 "Switch default branch to `main`"
As of #345 Hound has support for default branches other than `master`. It makes plenty of sense that Hound itself set its [default branch to `main`](https://github.com/github/renaming).

[2020-10-30 16:59] salemhilal opened #365 "Add a Github CI check to make sure that if an asset is edited, ui/bindata.go is updated"
We serve static assets from a serialized file in order to make Hound go-get-able (see #7). Confirming that UI PRs come with an update to `ui/bindata.go` would be helpful for future PRs.

Here's some helpful context (thanks to @kellegous for a lot of this):
1. `ui/bindata.go` contains all the contents from `ui/assets/*` and is generated [here in the Makefile](https://github.com/hound-search/hound/b

[2020-10-30 18:29] salemhilal opened #366 "Create a PR template"
Add a file at `.github/pull_request_template.md` to be a template for new contributions. [This looks like a good place to start](https://embeddedartistry.com/blog/2017/08/04/a-github-pull-request-template-for-your-projects/)

I think a good list of checks that we should include are:

- Is there a clear description of what the contribution is?
- Are there tests?
- Are there doc blocks on functions?

[2020-10-30 18:43] salemhilal opened #367 "Add documentation for all the config options"
`config-example.json` is pretty through, but being that it is a json file, it's hard to be verbose or descriptive. Add a `/docs/config-options.md` (or something similar) and document each of the config options.

Things that need documentation:

- [ ] `max-concurrent-indexers`
- [ ] `dbpath`
- [ ] `title`
- [ ] `health-check-uri`
- [ ] `vs-config`
- [ ] `repos`
- [ ] git config options
- [ ] hg con

[2020-11-02 01:14] rfan-debug commented on #351
I think the unit test is sufficient for the current `codesearch` but we lack real integration test.

I skimmed over the codesearch. I found the root cause of the 4GB limit is from the data type `uint32` everywhere. I need some time to check all the places of where `uint32` is used for indexing and replace it with `uint64`. Certainly, we need to add some functionality on the bit operations on 64-bi

[2020-11-03 07:00] ViljarVoidula opened #368 "Latin charset=ISO-8859-1 parse"
Hi there!

We have localized git, which store translations to languages , therefore ÖÄÕÜ etc ISO-8859-1 compliant files seem to be excluded as "Invalid UTF-8". How to overcome this problem, unfortunately i have no experience with GO to help with PR right now. Help is appreciated.

[2020-11-03 13:48] salemhilal commented on #368
Hey there! I would not be surprised to hear that Hound has problems with text encoding. I'm still a bit newer to the codebase myself. Can you share the exact error you are seeing, including any stack trace, and the steps you are taking to far it to appear? Also, does Hound crash outright or does it ignore that particular repository?

[2020-11-04 07:40] ViljarVoidula commented on #368
@salemhilal - Nothing crashes, so its rather positive problem , i can just see these files @ excluded_files.html in client and unable to search for contents. I can collect logs maybe in weekend

[2020-12-08 17:14] ehrktia commented on #367
@salemhilal , @dschott68  @jacobrose  @nickmoorman  i would like to volunteer for this topic.
Already have a branch locally with below content in `docs/config-options.md`
ConfigOption | Description
:------ | :-----
MaxConcurrentIndexers | defines the total number of indexers required to be used for indexing code. If not provided defaults `2`
HealthCheckURI |  health check url for hound , if not pr

[2020-12-09 00:47] jacobrose commented on #367
@ehrktia Sounds great -- would you please submit a pull request? Thank you very much for volunteering!

[2020-12-09 11:17] ehrktia commented on #367
@jacobrose sorry for trouble again, i tried to push my branch and getting 403
[code]
Tried to open a pull request as i do not have a branch available with my changes had to wait.
is there any permission i require to push in to the repo.

[2020-12-31 11:09] ehrktia commented on #363
@salemhilal i did try to replicate this in master branch unfortunately is not occuring in my local machine master branch.Is this issue still open ?

[2021-01-01 21:57] Urmeli0815 commented on #351
I gave it a shot because I also thought that it would be straight forward but it's more difficult than expected.

The biggest hurdle is that the index size is tightly bound to the max-size of an array/slice. So a 64bit-sized index couldn't directly be mapped to a `[]byte` because the max-size of an array/slice is `MaxInt32`. And with that the quite complex operations on slices need a migration.

I

[2021-01-11 12:03] arne-rusek commented on #364
A lot of repositories still use `master` as default branch and I would imagine some of them will still keep it. Could hound maybe support both? I.e. for new repos and those whose owners renamed default branch to `main` but also older repos which for any reason have not renamed the `master` to `main`?

[2021-01-12 01:01] salemhilal commented on #364
Hey @arne-rusek, this issue is specifically about the hound repository itself. This repo's default branch should be `main`. Hound itself currently supports any name of default branch, and should be able to auto-detect the default branch name of most git repos.

[2021-01-12 10:10] zonk1 commented on #364
Oh, I did not read the description properly, thank you for explanation.

[2021-01-12 14:25] p3732 commented on #367
I think it would also be helpful to add the unit for `ms-between-polls` (I assume it is milliseconds because of the name, which seems excessive, but I don't know).

[2021-01-12 15:32] salemhilal commented on #364
No worries, it's worded a bit confusingly.

[2021-01-25 19:37] yayachiken opened #375 "Docker Image: Handle the bzr package being removed from Alpine Linux"
As I found out on the discussion PR #371, Alpine Linux dropped the `bzr` package in the releases 3.12 and onwards. For that reason, the Dockerfile currently pins the latest Alpine Linux 3.11.x release.

Alpine Linux 3.11.x is still supported, but when that gets EOL this would become a problem, as the Docker image could not be built anymore with a current image receiving security fixes etc.

I see

[2021-01-25 20:21] salemhilal commented on #375
(This could just as well be marked as a bug, since this would be breaking after Alpine Linux 3.11.x is EOL'd)

[2021-02-12 17:48] StingyJack commented on #367
Also any advice regarding theoretical or practical limitations (does it make sense to have 200 indexers, for example) would be nice

[2021-02-12 20:07] StingyJack opened #378 "Is there a way to determine how far along the searching has progressed?"
GH built in search is really buggy lately and burned me twice in the last week, so I'm giving hound a try. I added all my org's repos to the config, set the max indexers to 20, and its going through the repos but I dont know how  far along it is or how long it has left to complete.

I thought that I could count the number of data folders but that more than the number of repos currently (~1300 repo

[2021-02-13 10:21] kkom commented on #287
Hey! I commented on the attached PR. @StayTherapy -- if you still want to finish this, I can do some testing on our deployment -- but it would be great if you could rebase the PR on top of master, as I don't want to lose any other work that was done in the meantime :)

[2021-02-14 18:58] salemhilal commented on #378
Hey! I don't know off-hand of a way to monitor indexer progress, but the logs should show you how many searchers have been started, which gives you a rough idea of how far along in the indexing process Hound is. Does that help at all?
<img width="490" alt="image" src="https://user-images.githubusercontent.com/819218/107886270-c4425f80-6ecc-11eb-8465-b931c7e4a5e9.png">

[2021-02-14 19:26] salemhilal commented on #367
Hey, I'm gonna close this issue out, but if there are outstanding issues, I can re-open it.
@StingyJack, to answer your question, I think the indexer count would depend on the system, so a bit of test-and-time might be the best approach. I'd recommend using an indexer per available core on your machine to start.

[2021-02-14 19:26] #367 closed

[2021-02-14 21:33] StingyJack commented on #378
Counting the number of "Searcher started" is not really feasible when they are scrolling by.  I cant count that fast. =D
![image](https://user-images.githubusercontent.com/15381181/107889503-02497e80-6ee1-11eb-87b7-743917ca7560.png)

I found that counting the two subfolder types (`vcs`, `idx`) in the `data` directory was close enough for the initial seeding where its downloading and indexing repos

[2021-02-15 15:03] salemhilal commented on #378
Totally — that makes sense. I'm gonna leave this issue open and flag it as a "help wanted" for the time being. I'm glad to hear this is (mostly) working as expected on your windows machine! I'm unclear about what the bottleneck is for that startup time (i.e. if it's network time, or if the indexers take a while due to the size of your repo, etc), but if you have any intuitions there, I'd love to h

[2021-02-15 18:00] StingyJack commented on #378
The 799 of our repos I'm targeting average about 462 files per repo. That doesnt seem  out of the "medium" size range, so i suspect its just the number of repos that it has to index and possibly network speed (speed test reports ~80 Mbps down).

Is there a specific log message to look for when the Web UI is ready?

[2021-02-15 18:34] salemhilal commented on #378
Yes! I believe either `All indexes built!` should do the trick there.

[2021-02-19 22:55] simon04 opened #381 "Use //go:embed from Go 1.16"
https://golang.org/pkg/embed/

https://golang.org/doc/go1.16#library-embed

[2021-02-19 23:04] simon04 opened #382 "Compile and bundle JavaScript using esbuild"
https://esbuild.github.io/ – esbuild is

It provides a CLI and a Go API, see https://esbuild.github.io/api/

It might be used to streamline the bundling and replace the webpack config.

[2021-02-25 21:52] legoktm opened #385 "Advanced controls (#adv) blocked by default uBlock Origin Russian list"
I'm forwarding a report from https://phabricator.wikimedia.org/T275820 that the advanced form, which uses the id `adv`, is in the default blocklist for Russian users of uBlock Origin (and probably other ad blockers), see https://easylist-downloads.adblockplus.org/advblock+cssfixes.txt

Would you be open to renaming the field to something like "advanced" which I think would be clearer and also not

[2021-03-16 17:17] SuperSandro2000 opened #389 "feature request: load repos on demand and cache them for a while"
I think it would be a nice new feature if you could load github repos on demand and index them (even if it takes a few seconds to a minute) and if you did not use them for a day they are dropped again from the cache automatically.

I am browsing and searching a lot of repos on GitHub and the search does not fit my needs to find basic strings in the entire repo. I want to avoid online alternatives.

[2021-03-22 15:48] ianfixes opened #390 "Question: Can multiple server instances share a filesystem?"
I'm running hound in AWS Fargate, which seems to crash fairly frequently.  The crashes would be less concerning if there was persistent storage so that a reboot does not entail a re-index.  But if I set up hound with a persistent (& shared) filesystem, will that cause collisions among the individual server instances?  Or is there already locking in place that will handle that?

I'm hopeful that th

[2021-03-22 18:50] salemhilal commented on #390
Hey! I don't think we have specific knowledge of how Fargate operates, so I'm not sure I can answer your question as well as I'd like to. Maybe to start, can you tell me more about these crashes? If you plan to run multiple instances of Hound and have them share one `data/` directory, I believe that is undefined behavior. I think Hound was implemented with the assumption that each service is respo

[2021-03-22 19:50] ianfixes commented on #390
Fargate is just "containers-as-a-service" that AWS offers -- For that, I'm using an image based on https://github.com/hound-search/hound/blob/main/Dockerfile

I run hound as a few parallel tasks behind a load balancer, so each of them maintains its own index in its own ephemeral filesystem.  It sounds like giving each host a persistent filesystem will be fine, but not a _shared_ persistent filesys

[2021-03-30 18:07] #364 closed

[2021-03-30 18:10] salemhilal commented on #381
Hey! Just to clarify, are you proposing that this replaces `ui/bindata.go` and the `go-bindata`package?

[2021-03-30 18:15] salemhilal commented on #382
I'm actually pretty excited about ESBuild outside of Hound. Hound isn't a huge JS project, so while switching out JS build systems would be relatively easy, I don't know if it's a priority. I'd be interested in trying it out later, once ESBuild has wider community support. I'm going to close this, but if there are strong reasons to re-open it and prioritize it, I am not opposed to that.

[2021-03-30 18:15] #382 closed

[2021-03-30 18:16] simon04 commented on #381
Exactly, yes.

[2021-03-30 18:17] salemhilal commented on #385
Sorry for the late reply here! This sounds super reasonable and we would be totally down to accept a PR for this.

[2021-03-30 18:18] salemhilal commented on #381
Ok, cool. We aren't going to prioritize this for the time being, but we are open to a PR.

[2021-03-30 18:26] salemhilal commented on #390
I'd agree that giving each host its own persistent filesystem is the right way to go here. I'd love to know if you have any more clues about these healthchecks, or if you can repro anything about these crashes. I'm going to close this issue out just to help us prune our backlog a little bit, but feel free to reopen it with additional details. I'm sure you aren't the only person who will want to ge

[2021-03-30 18:26] #390 closed

[2021-03-30 20:08] ianfixes commented on #390
I was able to find the root cause of the "crash": the Fargate health check command was really having trouble with the unicode character.  Thinking that the task was unhealthy, the service was periodically killing it and starting new instances.

For our health check monitor to ensure that hound's `/healthcheck` endpoint returns `👍`, we need to encode that character not only in the shell command tha

[2021-03-30 22:49] salemhilal commented on #390
Hey, thank you for sharing that investigation, and I'm sorry it caused you so much grief! I think having a configurable healthcheck string is totally reasonable. If you are open to contributing that, we would accept a PR. Otherwise, I'll add an issue for it since it's worth tracking.

[2021-03-31 00:33] ianfixes commented on #390
I don't have enough familiarity with golang (& its practices) to contribute a patch -- it would likely take your team longer to coach me through the PR than to just write it.

Please link the issue here, I'd be glad to drop some context into it.

[2021-03-31 19:18] nickmoorman commented on #389
Hi!  Thanks for the feature request.  This is a neat idea, but what you've proposed doesn't quite fit in with Hound's core functionality, and it would require a fair amount of effort to move things around to properly support this feature.  I know it's a bit of a hassle, but as a workaround, you could edit your Hound config and restart the server to add these "temporary" repositories.  Hopefully th

[2021-03-31 19:18] #389 closed

[2021-04-02 04:41] foragerr commented on #375
Do you folks have a preferred base image as an alternative to alpine?

I have an unrelated DNS resolution issue with running the alpine based image in AWS Fargate. I'm about to create my own hound image from scratch, happy to go with a base image you may have an affinity for, and contribute it back.

[2021-04-02 04:48] foragerr commented on #375
aside: The comment on this alpine commit says to use breezy as a replacement for bzr

which uses python3 and if there is demand for bzr then breezy and its
dependencies should be packaged instead

https://gitlab.alpinelinux.org/alpine/aports/-/tree/3.12-stable/unmaintained%2Fbzr

[2021-04-02 14:29] ianfixes commented on #9
What's the current state of this?  I see the following:

* #275 is still open
* #345 was merged, and seems to cover the same thing
* Lines in the example config that look like they could mean "autodetect default branch for all git repos" https://github.com/hound-search/hound/blob/fcb4ffd/config-example.json#L6-L9
* Lines in the example config that look like they could mean "set the branch for this

[2021-04-03 15:40] foragerr opened #394 "Search Performance and UX, feature request: results paging"
I have about 900 repos ( ~1M LoC ) indexed. Search performance is very variable. It feels fairly snappy when searching for larger specific strings with fewer matches; but is extremely slow for generic small snippet searches with lots of hits.

for example searching for `foo` in my setup returns `131,549ms total /4,739ms server /3477 files`
The actual server side search is an impressive 4 seconds,

[2021-04-03 18:30] salemhilal commented on #394
Hey! I agree, that's quite a lot of data to try and squeeze into the browser. I know we truncate results on a repo-by-repo basis, but it sounds like with 900 repos, paginating the repos themselves might be the right move. I think we would be open to a PR for that.

[2021-04-07 15:11] blakemcneill opened #395 "Adding ignore case modifier "(?i)" to search causes results to not load."
When performing this type of search, the "searching" loading graphic sits there and no results appear. It does show how time it took to find the results and the number of results so it does seem like it finds the matches.

For example, searching for "_Payments_" returns results but searching for "_(?i)Payments_" causes the search to hang.

Running this from a local Docker instance on Windows 10. R

[2021-04-13 09:32] ZhengHe-MD commented on #231
@mbernabeu run the command givens
[code]

Do you have any ideas?

[2021-04-13 12:58] ZhengHe-MD commented on #231
@mbernabeu never minds, my bug.

[2021-04-15 16:14] jrarmstro commented on #255
This sounds like it should be labelled as a bug. Hound correctly handles hyperlinks for git/sg SSH-style repos. https://github.com/hound-search/hound/blob/60b810419e3752d7cbb80e65f48d10d99f14e0db/ui/assets/js/common.js#L34

[2021-04-15 23:01] jrarmstro commented on #350
The installation instructions worked well on Ubuntu Focal.

[2021-04-27 13:05] richardjq opened #399 "Submit form via POST rather than GET"
Please consider having hound submit search requests via post (or maybe make it optional?).

If you are indexing _many, many_  repos and when you want to restrict your search to just _many_ of them, the URI is quite long. If you run hound behind a web application firewall this is likely to be seen as an attack and result in a "414 Request-URI Too Long".

Thanks for considering.

[2021-04-29 19:56] salemhilal commented on #399
Hey! That does sound like a problem. Generally speaking, I don't think that POST requests are the right HTTP verb to use here, since we're not updating anything and since these requests could be cached safely for a short period of time. Is there any option to configure your firewall to allow long URLs just for your Hound instance?

[2021-04-30 12:07] richardjq commented on #399
Yep.  I can reconfigure our firewall. I was just submitting this issue in order to try to help others who run into this problem. If you don't want to change the HTTP verb, I guess we can just close this.

Thanks for considering.

[2021-04-30 12:42] richardjq commented on #399
Allowing the user to specify the repos to be searched by regex (rather than selecting every single one) might also mitigate this problem.

[2021-04-30 19:01] richardjq commented on #399
Yes. We tend to organize our repos (in gitlab) hierarchically. And since we have 3000+ groups, a regex or glob would help a great deal.

[2021-05-13 13:28] salemhilal commented on #151
We’ve just merged in a fix for this issue. I’m closing it out, but feel free to re-open it if something’s missing.

[2021-05-13 13:28] #151 closed

[2021-05-28 03:08] StingyJack opened #400 "Is there any way to save or export the results?"
I can open the Dev Tools in the browser and pick the `search?` row from the network panel and get them that way. I was looking for a link button or something on the page. Is there one I'm just not seeing or is this not an available function?

[2021-05-28 20:27] salemhilal commented on #400
Hey! This is not a function built into the UI, but you can hit the `/search` endpoint and do anything you'd want with that data directly. Are you looking for something like an `export as json` button or something?

[2021-05-29 21:21] StingyJack commented on #400
Thanks, I ended up making a powershell function to do this, but yeah an export button that would dump out the search criteria, date, and results

[2021-05-29 21:21] #400 closed

[2021-05-29 21:31] StingyJack commented on #186
For me its so low its almost _never_. The only time I think I've ever tried a regex for code searching was trying to count LOC using Visual Studio's find tool (it didnt work anyway).

I'm searching code to find usages, so I already know the identifier. Literal should be the default.

[2021-05-31 19:03] NightMachinary commented on #186
It would also be much more intuitive if whitespace was treated as `AND` ala `fzf`.

[2021-06-01 21:10] inful commented on #332
See #401 for implementation of automatic docker image building to ghcr.io

[2021-06-11 20:15] rfan-debug commented on #395
Oh. I found the same issue on the linux instance too. Probably it is an issue related to the query parser.

[2021-07-06 14:58] #186 closed

[2021-08-01 04:14] nowiknowU commented on #363
f

[2021-09-16 15:41] sbuehnemann opened #407 "Can't sync repo with 'main' branch"
Hi, I'm using the following config to pull a repo that was created with 'main' as the default branch:
[code]

Initial sync starts and I can search the code. But on the next sync cycle the logs tell that it doesn't work:

[code]

The link in  the search results also points to master, so it leads to a 404.

Any clues?

[2021-09-16 17:59] salemhilal commented on #407
That's weird. Can you tell me if replacing `"ref": "main"` with `"detect-ref" : true` stops the errors from happening?

[2021-09-16 18:59] sbuehnemann commented on #407
Unfortunately still the same behavior:

[code]

Can I enable debugging for more verbose logging?

[2021-09-16 19:03] sbuehnemann commented on #407
I just created a public repo you can use for debugging:

[code]

[2021-09-28 00:55] salemhilal commented on #182
Hey @Roguelazer, are you talking about [this issue specifically](https://github.com/hound-search/hound/pull/235/files)? If you're willing to bring it up to date I can take a crack at it shortly. Otherwise, I can look on Wednesday.

[2021-10-06 14:11] #366 closed

[2021-10-23 17:30] legoktm opened #410 "Add prometheus metrics"
It would be nice if hound could provide prometheus metrics, specifically I'm interested in whenever a repository fails to update/reindex because of some error (can't reach Git server, etc.).

This could also help with #295.

[2022-01-12 18:17] jiawen commented on #287
New Hound user here experimenting. Maybe we should add to README.md that Hound does not yet support hot reloading (and optionally point to #357).

[2022-01-16 03:30] dereckson commented on #407
I can repro the same behavior, both with detect-ref and a specific ref.

Minimal log entry:

[code]

[2022-01-16 03:57] dereckson commented on #407
Relevant code to determine the branch (with defaultRef hardcoded to master):

[code]

To debug this, could be interesting to add some debug logging there.

[2022-01-16 13:57] dereckson commented on #407
@sbuehnemann How did you start Hound?

I've added debug info at https://github.com/dereckson/hound/commit/1c99508d3dd93cc6c8986295e690ea556610cc68 and it works perfectly fine with the same configuration file.

Then I've got an illumination flash: I've started by hound server with the etsy/hound image, updated 3 years ago, as documented in the README.

The issue you describe matches the behavior of

[2022-01-16 20:08] sbuehnemann commented on #407
Thanks for the hint, I'll try it out tomorrow.

[2022-01-18 18:27] salemhilal commented on #407
@sbuehnemann let me know if that doesn't solve your problem. I'm going to close this in favor of https://github.com/hound-search/hound/pull/405 instead.

[2022-01-19 19:24] salemhilal commented on #407
@sbuehnemann we've updated the README — try using the Docker instructions again and see if that works for you.

[2022-01-19 19:24] #407 closed

[2022-01-19 19:25] salemhilal commented on #407
(Thank you for your help @dereckson, much appreciated)

[2022-01-19 19:29] salemhilal opened #411 "Allow repos to be searched via Regex"
As per #399, Hound instances with a lot of repositories can cause requests to become too large. While changing the verb from `GET` to `POST` might be a potential solution, it also means losing the implications that come with a GET request (i.e. that the request can be safely replayed).

A potential fix would be to allow repos to be selected via a regex instead of a list. I think this would need to

[2022-01-19 19:30] salemhilal commented on #399
Closing this in favor of #411. Thanks again, and feel free to reopen this issue if you think I'm missing some context.

[2022-01-19 19:30] #399 closed

[2022-01-19 19:37] salemhilal opened #412 "Run / automate Golang linting"
We should be linting our go code!
A first pass at this was done as part of [this PR](https://github.com/hound-search/hound/pull/341).
We'll want to find a go linter — `go lint` has long since been deprecated. [Staticcheck](https://staticcheck.io/) and [go vet](https://pkg.go.dev/cmd/vet) are potential alternatives.

[2022-01-19 19:39] salemhilal commented on #350
We've just updated the README to use the newer ghcr.io image repo, which should clarify installing Hound via Docker. I'm going to close this, but we can always re-open if the installation instructions are still confusing.

[2022-01-19 19:39] #350 closed

[2022-02-02 19:24] dschott68 commented on #412
Is this different that the existing Github Action https://github.com/hound-search/hound/runs/4954299890?check_suite_focus=true   ???

[2022-02-02 23:41] salemhilal commented on #412
Ah yes it is! I assumed that since we closed the PR to delete unused code that linting had never been set up, but that's not true at all. I'm gonna close this.

[2022-02-02 23:41] #412 closed

[2022-03-14 15:01] vipulgupta2048 opened #415 "Deploy Hound on RaspberryPi"
Hey folks, I love Hound and how it helps in my workflow. I think it's really helpful to have a personal hound instance running on an RPi or Intel-NUC that also runs the home server or Pihole.

I already created a [repository](https://github.com/balena-io-playground/balenahound) to get Hound working with RaspberryPi on balenaCloud with auto-indexing of repositories. It's available on [balenaHub](ht

[2022-03-20 16:28] kmehkeri opened #416 "Too many open files"
I am attempting to index large number of repositories and I hit "Too many open files" error. I tried to increase OS limit - currently it's at 1000000 globally as confirmed by `ulimit -a` - but still after indexing ca. 1000 repos all the further git calls fail and I get something like this in the logs:

[code]

Smaller number of repos (up to hundreds) are indexing fine. OS it runs on is Ubuntu 20.0

[2022-03-21 15:37] kmehkeri commented on #416
It's the same with CentOS 7.

Browsing issues I noticed this was already raised (quite a long time ago) in #139, so it's a duplicate, but I just wanted to mention that that issue is still valid.

[2022-03-21 15:46] salemhilal commented on #416
@kmehkeri thank you for reporting this! Yeah, it is likely that we keep file handles around after indexing. We may want to see what we can do about closing handlers that aren't actively in use, but thousands of repos is certainly a lot of them. I'm gonna close this issue, but feel free to add additional comments either here or to the original issue.

[2022-03-21 15:46] #416 closed

[2022-04-17 14:51] #182 closed

[2022-04-21 18:05] jobimrobinsantos-drizly opened #419 "Lint failing in CI"
See for example, https://github.com/hound-search/hound/runs/6054555586
[code]

My company's private fork of hound is failing in the same fashion. At a quick glance, it appears to be an issue of compatibility between go 1.13 (this repo) and 1.18 (what runs on github actions) or a problem with golangci-lint. For comparison, just 3 months ago this check was passing but github actions was running go 1

[2022-04-27 17:31] salemhilal commented on #419
Thanks for opening an issue! It looks like we're [seeing the seeing the same issue](https://github.com/hound-search/hound/runs/6054555586?check_suite_focus=true) as well. We'll try and carve out some time to investigate. I wouldn't be surprised if the version compatibility was the culprit since not a ton else has changed. If you run into other clues, definitely let us know.

[2022-05-04 07:15] tuananh opened #420 "git repo auth where ssh is not supported"
how should i use hound iwth private repo where ssh access is not supported. only http.

[2022-05-25 20:20] salemhilal commented on #419
This is fixed as of #422! Thank you again for your help.

[2022-05-25 20:20] #419 closed

[2022-05-25 20:37] jobimrobinsantos-drizly commented on #419
No, thank *you*!

[2022-06-02 11:12] undergraver opened #423 "installation instructions don't work"
Hi,

I am not familiar with go and its particularities. I find the configuration tutorial lacking some bridge for the less accustomed to go language.

My version of go:

[code]

When I try this I get an error:
[code]

Can somebody help me installing this? I promise I will do a pull-request.

[2022-06-06 15:28] wilricknl commented on #423
Hi there,

I ran into the same issues today. The thing that worked for me is the following:

[code]

You might have to change the path of the last command if you installed Go somewhere else on your system. I hope this helps!

[2022-06-17 12:26] heyingjiee opened #424 "Search results are incomplete"
I'm pretty sure there are some fields that exist in the warehouse but are not searchable

When I select the two repositories, I can search the result for the yiche-charge-mini-program
![image](https://user-images.githubusercontent.com/39174971/174296173-959672c9-7463-4a61-a657-18aafb377e55.png)

If I choose to retrieve only one repository, yiche-charge-mini-program, I get unsearchable results
![im

[2022-06-18 02:19] heyingjiee commented on #424
sorry,is my fault，I entered an extra space when configuring the warehouse name

[2022-06-18 02:19] #424 closed

[2022-06-18 18:19] salemhilal commented on #424
No worries at all! Thank you for submitting regardless, and let us know if you run into any other problems.

[2022-06-21 16:54] ictrobot opened #425 "`houndd -version` returns v0.4.0 on v0.5.0"
[code]
Presumably it should say `houndd v0.5.0`? It appears the version number is just hardcoded and was not updated

https://github.com/hound-search/hound/blob/27fa1efd2fad3216acc41da5ed7998cff1c2744c/cmds/houndd/main.go#L119-L123

[2022-06-22 12:51] salemhilal commented on #425
Ah yes, this is something we always forget to do -_-
Thank you for noticing! I'll update and release a patch.

[2022-06-22 13:05] salemhilal commented on #425
This should be fixed as of ae638e5b4793bae392202e645a931ea2044ea26d. v0.5.1 is building as we speak. You can follow along with the release [here](https://github.com/hound-search/hound/actions/runs/2542437380), if you'd like. Thanks for reporting!

[2022-06-22 13:05] #425 closed, assigned to nobody

[2022-07-01 04:32] kinghrothgar opened #426 "Using unsupported Go version"
Is there a reason not to switch to the latest golang version? go1.13 is 2 years and 10 months old and hasn't been getting security updates since 1 year and 10 months ago. Is there some form of golang update PR I could submit that would get merged?

Asking as appears previous attempt towards this stalled: https://github.com/hound-search/hound/pull/392

[2022-07-01 06:56] #426 closed

[2022-07-01 22:04] kinghrothgar opened #431 "Bug: excluded files link blob undefined"
**Setup**:
I have the latest hound running scraping private Github repos via `git@` urls.

**Bug**:
After doing a search, if follow the `Excluded Files` to `/excluded_files.html`, then select a repo, and select a specific file the link is invalid. The blob is undefined, ex: `https://github.com/some-org/some-repo/blob/undefined/path/to/excluded/file`. The links to files with matches in it however w

[2022-07-01 23:47] kinghrothgar opened #432 "make ui does not work with golang 1.18"
As far as I can tell, `make ui` no longer works with modern version of golang (1.18/1.17/1.16):

[code]

I don't believe this command works anymore:
[code]

Running that does not result in REPO/.build/bin/go-bindata being created. I tried it with version 1.16-1.18.

[2022-07-19 17:22] andrewjtimmons opened #434 "Ignore Case by Default"
Hello!

Is it possible when compiling hound to run in go to pass an arg to ignore case by default? I see the flag for the ui is set here https://github.com/hound-search/hound/blob/b1bc7538503286dbf3e9dd7b98c557060c327884/cmds/hound/main.go#L88.

Another thought is that I could write a PR to this repo that would ignore case by default, but I can understand if some people prefer the default the othe

[2022-08-17 17:26] salemhilal commented on #434
Hey! I think it'd be tricky to change that particular default while still having the search string treated like a regular expression. We've talked about a simplified vs advanced querying syntax option that would allow you to search via string matching (like you would in a browser, ignoring case, etc.) or via regex (like we do now). That sort of thing might make more sense.

[2022-08-17 17:26] #434 closed

[2022-08-18 05:11] andrewjtimmons commented on #434
That makes sense.  Thanks for taking the time to think about it and reply and maintain this cool too!

Cheers!

[2022-09-13 06:57] #423 closed

[2022-09-28 22:49] kellegous commented on #432
I believe this was fixed in #437

[2022-09-28 22:49] #432 closed

[2022-09-28 22:53] kellegous opened #438 "webpack build fails with node 17+"
Not sure the best way to integrate a fix into `make ui` but with node v18.2.0, I get the following error.

[code]

A work around for this issue can be found in the related webpack issue. https://github.com/webpack/webpack/issues/14532

For now, the best way to work around this is with

[code]

[2022-10-05 00:03] #438 closed

[2022-10-15 08:39] gibtang opened #443 "Basic auth"
For some remote teams, hound will be deployed on a public-facing server. So having some basic auth in place to avoid other people from accessing the code will be a useful feature to have

[2022-10-29 06:53] mhuang74 commented on #420
I had success with "https + personal access token" by caching credentials via Github Credential Manager (GCM).

https://docs.github.com/en/get-started/getting-started-with-git/caching-your-github-credentials-in-git?platform=linux

[2022-11-11 19:31] grawlinson commented on #443
All reverse proxies support this behavior. And seeing as the README explicitly states that most users will put hound behind a reverse proxy is enough of a hint. 😄